{% extends 'template_coreui.html.twig' %}

{% set page_title = 'Agent détail' %}

{% block home_path %}
<li class="breadcrumb-item">
    <a href="{{ path("agent_home") }}">Agents</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ page_title }} {% endblock %}



{% block body %}

    <div class="agent-wrapper">
        
        <div class="agent-wrapper">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i>{{ page_title }}</div>
                            <div class="card-body">
                        

            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %} 
    <script src="{{  asset('agent.js','qobd_web_js') }}"></script>
{% endblock %}
