{% extends 'security/role_registration.html.twig' %}

{#% set page_title = 'Editer role' %}

{% block home_path %}
<li class="breadcrumb-item">
    Securité
</li>
<li class="breadcrumb-item">
    <a href="{{ path("security_role") }}">Role</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block body_header_right %}
    <button form="global_form" type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
{% endblock %}

{% block body %}


<div class="role-wrapper">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i>{{ page_title }}</div>
                        <div class="card-body">

                            {% include "notify.html.twig" %}
                            
                            {{ form_start(formRole, { 'attr': {'id': 'global_form' }}) }}

                            {% if is_granted('ROLE_OPERATOR') %}
                            {{ form_row(formRole.Name,{'label': 'Nom du rôle', 'attr': {'placeholder': 'Nom du rôle'}})
                            }}
                              
                            {% else %}
                            {{ form_row(formRole.Name,{'label': 'Nom du rôle', 'attr': {'placeholder': 'Nom du rôle', 'disabled': 'disabled'}})
                            }}
                            
                            {% endif %}

                            {{ form_row(formRole.DisplayName,{'label': 'Description', 'attr': {'placeholder': 'Description'}})
                            }}
                            
                            {{ form_end(formRole) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
{% endblock %#}
