{% extends 'template_coreui.html.twig' %}

{% set page_title = 'Nouvel agent' %}

{% block home_path %}
<li class="breadcrumb-item">
    Securité
</li>
<li class="breadcrumb-item">
    <a href="{{ path("agent_home") }}">Agents</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ parent() }} - {{ page_title }} {% endblock %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('agent.css', 'qobd_web_css') }}">
{% endblock %}

{% block body_header_right %}
     
{% endblock %}

{% block body %}

    <div class="agent-wrapper">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> {{ page_title }}</div>
                        <div class="card-body">
                        
                            {% include "notify.html.twig" %}

                            {{ form_start(formAgent, {'enctype':'multipart/form-data', 'attr': {'id': 'global_form' }}) }}
                            
                            <div class="form-group">
                                {{ form_row(formAgent.PictureFile,{'label': 'Image profile', 'attr': {'class':'form-control'}}) }}
                            </div>
                            <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
                            {{ form_row(formAgent.LastName,{'label': 'Nom', 'attr': {'placeholder': 'Nom'}}) }}
                            {{ form_row(formAgent.FirstName,{'label': 'Prénom', 'attr': {'placeholder': 'Prénom'}}) }}
                            {{ form_row(formAgent.Email,{'label': 'Email', 'attr': {'placeholder': 'Email...'}}) }}
                            {{ form_row(formAgent.UserName,{'label': 'Pseudo', 'attr': {'placeholder': 'Pseudo'}}) }}
                            {{ form_row(formAgent.PlainTextPassword,{'label': 'mot de passe', 'attr': {'placeholder': 'mot de passe'}}) }}
                            {{ form_row(formAgent.Confirme_password,{'label': 'Veuillez répéter le mot de passe', 'attr': {'placeholder': 'Veuillez répéter le mot de passe'}}) }}
                            {{ form_row(formAgent.Phone,{'label': 'Numéro de téléphone', 'attr': {'placeholder': 'Numéro de téléphone'}}) }}
                            {{ form_row(formAgent.Fax,{'label': 'Fax', 'attr': {'placeholder': 'Fax'}}) }}
                            {{ form_row(formAgent.ListSize,{'label': 'Taille par defaut des listes', 'attr': {'placeholder': 'Taille par defaut des listes', }})}}
                            

                            {{ form_end(formAgent) }}
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>

{% endblock %}
{% block javascripts %} 
    <script src="{{  asset('js/agent.js','theme_default') }}"></script>
{% endblock %}
