{% extends 'template_coreui.html.twig' %}


{#% set model = {page_title: 'Privileges', page: 'security/_partials/security.html', security_target: 'home', route_plus: 'security_home'} %}

{% if target_action is defined  and target_role is not defined %}
    {% set model = {page_title: 'Actions', page: 'security/_partials/action.html', security_target: 'action', route_plus: 'security_action_registration' } %}
{% elseif target_role is defined %}
    {% set model = {page_title: 'Roles', page: 'security/_partials/role.html', security_target: 'role', route_plus: 'security_role_registration'} %}
{% elseif target_profile is defined %}
    {% set model = {page_title: 'Profile', page: 'security/_partials/profile.html', security_target: 'profile', route_plus: 'security_role_registration'} %}
{% endif %#}


{% block home_path %}
<li class="breadcrumb-item">
    <a href="#">Securité</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block body_header_right %}
    {% if route_plus is defined %}
        <a href="{{ route_plus }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
    {% else %}
        <button form="global_form" type="submit" class="btn btn-"><i class="fa fa-save"></i></button>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="security-wrapper">
        
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i>{{ page_title }}</div>
                        <div class="card-body">

                            {% include page %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% if security_target is defined %}
    <input type="hidden" id="security_target" value="{{ security_target }}">
{% endif %}

{% endblock %}
{% block javascripts %} 
    <script src="{{  asset('security.js','qobd_web_js') }}"></script>
{% endblock %}
