<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ search.get_setting("SOCIETE","SOCIETE_NOM").value }}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    <link rel="stylesheet" href="{{ asset('bootstrap.min.css', 'bootstrap_css') }}">
    <!-- <link rel="stylesheet" href="{{ asset('datatables.min.css', 'datatable_dir') }}"> -->
    <link rel="stylesheet" href="{{ asset('all.min.css', 'font_awsome_css') }}">
    <!-- <link rel="stylesheet" href="{{ asset('base.css', 'qobd_web_css') }}"> -->

</head>

<body class="app flex-row align-items-center">
    <div class="container">
        <form action="{{ path('security_login')}}" method="POST">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <h1>Connexion</h1>
                                <p class="text-muted">Entrez vos identifiants de connexion</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                    <input type="text" name="_username" id="" class="form-control"
                                        placeholder="pseudo ..." required>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input type="password" name="_password" id="" class="form-control"
                                        placeholder="Mot de passe">
                                </div>
                                <div class="rememberMe">
                                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                                    <label for="remember_me">Rester connecté</label>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4">Connexion</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a href="{{ path("security_anonymous_registration") }}" class="btn btn-secondary">s'inscrire</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <a href="#" class="">Mot d passe oublié</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Bonjour</h2>
                                    <p>Bienvenue dans notre application de gestion.</p>
                                    <!-- <button class="btn btn-primary active mt-3" type="button">Register Now!</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="{{ asset('js/jquery-3.4.1.js','theme_default') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
    <!---->
    <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
    <!--  -->


    <script src="{{ asset('datatables.min.js','datatable_dir') }}"></script>
    <script src="{{ asset('all.min.js','font_awsome_js') }}"></script>
    <script src="{{ asset('js/lodash.min.js','theme_default') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js','theme_default') }}"></script>
    <script src="{{ asset('js/render_methods.js','theme_default') }}"></script>
    <script src="{{ asset('js/data_table.js','theme_default') }}"></script>
</body>

</html>