<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ search.get_setting("SOCIETE","SOCIETE_NOM").value }}{% endblock %} - Authentification
    </title>

    <link rel="stylesheet" href="{{ asset('bootstrap.min.css', 'bootstrap_css') }}">
    <link rel="stylesheet" href="{{ asset('all.min.css', 'font_awsome_css') }}">
    <link rel="stylesheet" href="{{ asset('style/scss/coreui.css', 'theme_coreui') }}">
    <link rel="stylesheet" href="{{ asset('style/scss/base.css', 'theme_default') }}">

</head>

<body class="app flex-row align-items-center">
    <div class="container">
        <form action="{{ path('security_reset_password')}}" method="POST" class="resetPassword">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <h1>Réinitialisation de mot de passe</h1>
                                <p class="text-muted">Entrez votre nouveau mot de passe</p>

                                {% include "notify.html.twig" %}
                                
                                <input type="hidden" name="token" value="{{ token }}"/>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input type="password" name="password" id="" class="form-control"
                                        placeholder="Mot de passe" required>
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input type="password" name="password_confirm" id="" class="form-control"
                                        placeholder="Confirmation du mot de passe" required>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4 _validatePassword">valider</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Bonjour</h2>
                                    <p>Vous êtes sur le point de réinitialiser votre mot de passe.</p>
                                    <!-- <button class="btn btn-primary active mt-3" type="button">Register Now!</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="{{ asset('js/jquery-3.4.1.js','theme_default') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
    
    
    <script src="{{ asset('all.min.js','font_awsome_js') }}"></script>
    <script src="{{ asset('js/lodash.min.js','theme_default') }}"></script>
    <script src="{{ asset('js/render_methods.js','theme_default') }}"></script>
    <script src="{{ asset('js/agent.js','theme_default') }}"></script>
</body>

</html>