{% extends 'template_coreui.html.twig' %}

{% set page_title = 'Editer monnaie' %}

{% block home_path %}
<li class="breadcrumb-item">
    <a href="{{ path("setting_home") }}">Configuration</a>
</li>
<li class="breadcrumb-item">
    <a href="{{ path("setting_currency") }}">Monnaies</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ page_title }} {% endblock %}

{% block body_header_right %}
    <button form="global_form" type="submit" class="btn btn-"><i class="fa fa-save"></i></button>
{% endblock %}

{% block body %}

<div class="brand-wrapper">

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> {{ page_title }}</div>
                    <div class="card-body">

                        {{ form_start(formCurrency, { 'attr': {'id': 'global_form' }}) }}

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="désignation de la monnaie">
                                    <span class="fa fa-chess-board"></span>
                                </span>
                            </div>
                            {{ form_widget(formCurrency.Name,{'label': 'désignation de la monnaie', 'attr': {'placeholder': 'désignation de la monnaie'}})
                            }}
                        </div>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Symbol">
                                    <span class="fa fa-copyright"></span>
                                </span>
                            </div>
                            {{ form_widget(formCurrency.Symbol,{'label': 'Symbole', 'attr': {'placeholder': 'Symbole'}}) }}
                        </div>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Taux">
                                    <span class="fa fa-layer-group"></span>
                                </span>
                            </div>
                            {{ form_widget(formCurrency.Rate,{'label': 'Taux', 'attr': {'placeholder': 'Taux'}}) }}
                        </div>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Code du pays">
                                    <span class="fa fa-hand-holding-usd"></span>
                                </span>
                            </div>
                            {{ form_widget(formCurrency.CountryCode,{'label': 'Code du pays', 'attr': {'placeholder': 'Code du pays'}}) }}
                        </div>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Pays">
                                    <span class="fa fa-cubes"></span>
                                </span>
                            </div>
                            {{ form_widget(formCurrency.Country,{'label': 'Pays', 'attr': {'placeholder': 'Pays'}}) }}
                        </div>

                        {{ form_row(formCurrency.IsDefault) }}
                    
                        {{ form_end(formCurrency) }}
                    </div> 
                </div> 
            </div> 
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<!-- <script src="{#{  asset('client.js','qobd_web_js') }#}"></script> -->
{% endblock %}