{% extends 'template_coreui.html.twig' %}


{% block title %}{{ parent() }} - {{ page_title }}{% endblock %}

{% block home_path %}
<li class="breadcrumb-item">    
    {% if not page_title %}
        Configuration
    {% else %}
        <a href="#">Configuration</a>
    {% endif %}
</li>
{% if page_title %}
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endif %}
{% endblock %}

{% block body_header_right %}
    {% if search.get_right_write("ACTION_SETTING") %}
        <a href="{{ create_url }}" class="btn"><i class="fa fa-plus"></i></a>
    {% endif %}
{% endblock %}


{% block body %}

<div class="example-wrapper">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> {{ page_title | default('Configuration') }}</div>
                    <div class="card-body">                       

                        {% include page %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block access_pool %}
<div class="access_pool">
    <input type="hidden" id="is_read" value="{{ search.get_right_read("ACTION_SETTING") }}" />
    <input type="hidden" id="is_write" value="{{ search.get_right_write("ACTION_SETTING") }}" />
    <input type="hidden" id="is_update" value="{{ search.get_right_update("ACTION_SETTING") }}" />
    <input type="hidden" id="is_delete" value="{{ search.get_right_delete("ACTION_SETTING") }}" />
    <input type="hidden" id="is_mail" value="{{ search.get_right_email("ACTION_SETTING") }}" />
    <input type="hidden" id="is_read_sensible" value="{{ search.get_right_read("ACTION_SENSIBLE") }}" />
    <input type="hidden" id="is_admin" value="{{ search.get_right_admin() }}" />
</div>
{% endblock %}

{% block javascripts %} 
<script src="{{ asset('setting.js','qobd_web_js') }}"></script>
{% endblock %}
