{% extends 'template_coreui.html.twig' %}

{% set page_title = 'Nouvelle configuration' %}

{% block home_path %}
<li class="breadcrumb-item">
    <a href="{{ path("setting_home") }}">Configuration</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ parent() }} - {{ page_title }} {% endblock %}

{% block body_header_right %}
    <button form="global_form" type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
{% endblock %}

{% block body %}

<div class="setting-wrapper">

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> {{ page_title }}</div>
                    <div class="card-body">

                        {% if errors | length > 0 %}
                        <ul class="error-wrapper">
                            {% for error in errors %}
                            <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        {{ form_start(formSetting, {'attr': {'enctype': "multipart/form-data", 'id': 'global_form'}}) }}
                                                
                        <div class="switch-wrapper" style="display: none;">
                            <span class="badge badge-success">Text</span>
                            <label class="c-switch c-switch-3d switch-primary">
                                {#% if formSetting.vars.data.IsFile %}
                                <input name="setting[switch]" class="c-switch-input" type="checkbox" checked>
                                {% else %}
                                <input name="setting[switch]" class="c-switch-input" type="checkbox">
                                {% endif %#}
                                <input name="setting[switch]" class="c-switch-input" type="checkbox" checked>
                                <span class="c-switch-slider"></span>
                            </label>
                            <span class="badge badge-warning">Fichier</span>
                        </div>

                        {% if search.get_right_admin() %}
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Clé utilisée dans le code pour faire référence à la configuration">
                                    <span class="fa fa-key"></span>
                                </span>
                            </div>
                            {{ form_widget(formSetting.Code,{'label': 'Catégorie', 'attr': {'placeholder': 'Catégorie'}}) }}
                        </div>                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Nom de la configuration">
                                    <span class="fa fa-comment-dots"></span>
                                </span>
                            </div>
                            {{ form_widget(formSetting.Name,{'label': 'Nom de la configuration', 'attr': {'placeholder': 'Nom de la configuration'}})
                            }}
                        </div>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Nom de la configuration">
                                    <span class="fa fa-comment-dots"></span>
                                </span>
                            </div>
                            {{ form_widget(formSetting.DisplayName,{'label': 'Nom à l\'affichage', 'attr': {'placeholder': 'Nom à l\'affichage'}})
                            }}
                        </div>
                        
                        {% else %}
                        <div class="input-group mb-3" style="display:none;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Clé utilisée dans le code pour faire référence à la configuration">
                                    <span class="fa fa-key"></span>
                                </span>
                            </div>
                            {{ form_widget(formSetting.Code,{'attr': {'style': 'display:none;'}}) }}
                            {{ form_widget(formSetting.Name,{'attr': {'style': 'display:none;'}}) }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Description">
                                    <span class="fa fa-comment-dots"></span>
                                </span>
                            </div>
                            {{ form_widget(formSetting.DisplayName,{'label': 'Nom à l\'affichage', 'attr': {'placeholder': 'Nom à l\'affichage'}})
                            }}
                        </div>
                        
                        <!-- <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Logo de la société">
                                    <span class="fa fa-comment-dots"></span>
                                </span>
                            </div>
                            {#{ form_widget(formSetting.Value,{'label': 'Nom de la configuration', 'attr': {'placeholder': 'Nom de la configuration', 'disabled':'disabled'}})
                            }#}
                        </div> -->
                        {% endif %}

                        {% if formSetting.vars.data.name == 'SOCIETE_LOGO' %}
                        <div class="value-wrapper">
                            {% if formSetting.vars.data.IsFile %}
                            <div class="value-default">
                                <img class="navbar-brand-full" src="{{ search.logo }}" width="89" height="25" alt="CoreUI Logo">
                                {{ form_widget(formSetting.Value,{'attr': {'style': 'display:none;'}}) }}
                            </div>
                            {% endif %}
                            <div class="value-file">
                                <input type="file" name="setting[file]">
                            </div>
                        </div>
                        {% else %}
                        <div class="value-wrapper">
                            <div class="value-default">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Valeur">
                                            <span class="fa fa-chess-board"></span>
                                        </span>
                                    </div>
                                    {{ form_widget(formSetting.Value,{'label': 'Valeur', 'attr': {'placeholder': 'Valeur'}}) }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {{ form_end(formSetting) }}
                    </div> 
                </div> 
            </div> 
        </div>
    </div>
</div>

{% endblock %}




{% block javascripts %}
<script src="{{ asset('js/setting.js','theme_default') }}"></script>
{% endblock %}