{% extends 'template_coreui.html.twig' %}

{% block title %}Configuration{% endblock %}

{% block stylesheets %} {% endblock %}

{% block home_path %}
<li class="breadcrumb-item">
    <a href="#">Configuration</a>
</li>
<li class="breadcrumb-item">
    Générale
</li>
{% endblock %}

{% block body_header_right %}
<input form="form_general" type="submit" value="save" style="color: #20a8d8">
{% endblock %}

{% block body %}

<div class="brand-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Liste des produits et tarifs</div>
                    <div class="card-body">

                        {{ form_start(formSetting, {'attr': {'id': 'form_general'}}) }}


                        {{ form_row(formSetting.Name,{'label': 'désignation de la config', 'attr': {'placeholder': 'désignation de la config'}})
                        }}
                        {{ form_row(formSetting.Value,{'label': 'Valeur', 'attr': {'placeholder': 'Valeur'}}) }}
                        {{ form_row(formSetting.Code,{'label': 'Catégorie', 'attr': {'placeholder': 'Catégorie'}}) }}

                        <button type="submit" class="btn btn-success">Ajouter la monnaie</button>

                        {{ form_end(formSetting) }}
                </div>
            </div>
        </div>
    </div>  
</div>

{% endblock %}
{% block javascripts %}
<!-- <script src="{#{  asset('client.js','qobd_web_js') }#}"></script> -->
{% endblock %}