{% extends 'template_coreui.html.twig' %}

{% set page_title = 'Création & modification' %}

{% block home_path %}
<li class="breadcrumb-item">
    Securité & Configuration
</li>
<li class="breadcrumb-item">
    Configuration
</li>
<li class="breadcrumb-item">
    <a href="{{ path("setting_catalogue_provider") }}">Statut commandes</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ parent() }} - {{ page_title }} {% endblock %}

{% block body_header_right %}
    <button form="global_form" type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
{% endblock %}

{% block body %}

<div class="status-order-wrapper">

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> {{ page_title }}</div>
                    <div class="card-body">

                        {% include "notify.html.twig" %}

                        {{ form_start(formStatus, { 'attr': {'id': 'global_form' }}) }}
                        {{ form_row(formStatus.Name,{'label': 'désignation du statut', 'attr': {'placeholder': 'désignation du statut'}}) }}
                        {{ form_row(formStatus.DisplayName,{'label': 'description', 'attr': {'placeholder': 'description'}}) }}

                        {{ form_end(formStatus) }}
                    </div> 
                </div> 
            </div> 
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<!-- <script src="{#{  asset('client.js','qobd_web_js') }#}"></script> -->
{% endblock %}