{% extends 'order/show/show_quote.html.twig' %}


{#% block title %}{{ parent() }} - Devis {% endblock %}

{% block home_path %}
<li class="breadcrumb-item">
    Commande & Avoir
</li>
<li class="breadcrumb-item">
    <a href="{{ path("order_quote") }}">Devis</a>
</li>
<li class="breadcrumb-item">
    Détail devis
</li>
{% endblock %}


{% block control_btn_area %}
<div class="btn-group">
    <a href="{{ path("order_validation", {id: order.id, idStatus: status_preorder.id}) }}"
        class="btn btn-success btnValidation">Convertir en
        commande</a>
    <a href="{{ path("order_validation", {id: order.id, idStatus: status_prerefund.id}) }}"
        class="btn btn-danger btnValidation">Convertir en
        avoir</a>
</div>
{% endblock %}

{% block product_area %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-11">
                        <i class="fa fa-align-justify"></i> Liste des produits et tarifs
                    </div>
                   <div class="col-md-1">
                        <a class="btn btn-primary" id="btnAddItem" href="#" data-status="{{ order.status.name }}"><i
                                class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="order_detail_table_js"
                    class="table table-responsive-md table-bordered table-striped table-md">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block comment_area %}{% endblock %}

{% block quote_area %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Devis
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check">
                            {% if order.IsQuote or order.IsQuote is null %}
                            <input type="radio" name="order_detail_form[setting][devis][type]" id="rbDevis"
                                value="devis" class="form-check-input" checked>
                            {% else %}
                            <input type="radio" name="order_detail_form[setting][devis][type]" id="rbDevis"
                                value="devis" class="form-check-input">
                            {% endif %}
                            <label for="rbDevis" class="orm-check-label">Devis</label>
                        </div>
                        <div class="form-check">
                            {% if not order.IsQuote and order.IsQuote is not null %}
                            <input type="radio" name="order_detail_form[setting][devis][type]" id="rbProformat"
                                value="pro forma" class="form-check-input" checked>
                            {% else %}
                            <input type="radio" name="order_detail_form[setting][devis][type]" id="rbProformat"
                                value="pro forma" class="form-check-input">
                            {% endif %}

                            <label for="rbProformat" class="orm-check-label">Pro forma</label>
                        </div>
                        <div class="form-check">
                            {% if order.IsRefVisible %}
                            <input type="checkbox" name="order_detail_form[setting][devis][ref_visible]" id="chkRef"
                                class="form-check-input" checked>
                            {% else %}
                            <input type="checkbox" name="order_detail_form[setting][devis][ref_visible]" id="chkRef"
                                class="form-check-input">
                            {% endif %}
                            <label for="chkRef" class="form-check-label">Référence visible sur le
                                devis</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inptDuree">Duree de validité du devis</label>
                            <input type="number" name="order_detail_form[setting][devis][duree]" id="inptDuree"
                                class="form-control" value="{{ order.ValidityPeriode | default(2) }}">
                        </div>
                        <div class="btndevis-wrapper">
                            <a href="{{ path("order_pdf_quote", {id: order.id}) }}" class="btn btn-primary">Générer le
                                devis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block email_area %}
<form action="{{ path("order_email_quote",{id: order.id }) }}" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Email
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="emailSubject">Object</label>
                                <input type="text" name="order_detail_form[setting][email][subject]" id="emailSubject"
                                    class="form-control"
                                    value="** {{ search.get_setting("SOCIETE","SOCIETE_NOM").value }} Votre devis {{ search.get_setting('PDF','DEVIS_PREFIX').value ~ order.id }} **">
                            </div>
                            <div class="form-group">
                                <label for="emailBody">Message</label>
                                <textarea name="order_detail_form[setting][email][body]" id="" cols="30" rows="10"
                                    class="form-control">{{ email_content }}</textarea>
                            </div>
                            <input type="submit" value="Envoyer" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %#}
