{% extends 'order/show/show_refund_billed.html.twig' %}


{#% block title %}{{ parent() }} - Avoir Expédié {% endblock %}

{% block home_path %}
<li class="breadcrumb-item">
    Commande & Avoir
</li>
<li class="breadcrumb-item">
    <a href="#">Avoir Expédié</a>
</li>
<li class="breadcrumb-item">
    Détail avoir
</li>
{% endblock %}

{% block control_btn_area %}
<div class="btn-group">
    <a href="{{ path("order_validation", {id: order.id, idStatus: order_status_quote.id}) }}"
        class="btn btn-danger btnValidation">Convertir en devis</a>
</div>
{% endblock %}

{% block quote_area %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Devis
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check">
                            {% if order.IsQuote or order.IsQuote is null %}
                            <input type="radio" name="order_detail_form[setting][devis][type]" id="rbDevis"
                                value="devis" class="form-check-input" checked>
                            {% else %}
                            <input type="radio" name="order_detail_form[setting][devis][type]" id="rbDevis"
                                value="devis" class="form-check-input">
                            {% endif %}
                            <label for="rbDevis" class="orm-check-label">Devis</label>
                        </div>
                        <div class="form-check">
                            {% if not order.IsQuote and order.IsQuote is not null %}
                            <input type="radio" name="order_detail_form[setting][devis][type]" id="rbProformat"
                                value="pro forma" class="form-check-input" checked>
                            {% else %}
                            <input type="radio" name="order_detail_form[setting][devis][type]" id="rbProformat"
                                value="pro forma" class="form-check-input">
                            {% endif %}

                            <label for="rbProformat" class="orm-check-label">Pro forma</label>
                        </div>
                        <div class="form-check">
                            {% if order.IsRefVisible %}
                            <input type="checkbox" name="order_detail_form[setting][devis][ref_visible]" id="chkRef"
                                class="form-check-input" checked>
                            {% else %}
                            <input type="checkbox" name="order_detail_form[setting][devis][ref_visible]" id="chkRef"
                                class="form-check-input">
                            {% endif %}
                            <label for="chkRef" class="form-check-label">Référence visible sur le
                                devis</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inptDuree">Duree de validité du devis</label>
                            <input type="number" name="order_detail_form[setting][devis][duree]" id="inptDuree"
                                class="form-control" value="{{ order.ValidityPeriode | default(2) }}">
                        </div>
                        <div class="btndevis-wrapper">
                            <a href="{{ path("order_pdf_quote", {id: order.id}) }}" class="btn btn-primary">Générer le
                                devis</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block delivery_recipt_area %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Bon(s) de livraison émis
            </div>
            <div class="card-body">
                <table id="delivery_table_js" class="table table-responsive-md table-bordered table-striped table-md">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bill_recipt_area %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Factures émises
            </div>
            <div class="card-body">
                <table id="bill_table_js" class="table table-responsive-md table-bordered table-striped table-md">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block email_area %}
{% if bills is defined and bills | length > 0 %}
<form action="{{ path("order_email_bill",{id: order.id }) }}" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Email
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="emailSubject">Object</label>
                                <input type="text" name="order_detail_form[setting][email][subject]" id="emailSubject"
                                    class="form-control"
                                    value="** {{ search.get_setting("SOCIETE","SOCIETE_NOM").value }} Votre facture **">
                            </div>
                            <div class="form-group">
                                <label for="emailBody">Message</label>
                                <textarea name="order_detail_form[setting][email][body]" id="" cols="30" rows="10"
                                    class="form-control">{{ email_content }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="emailBody">Factures</label>
                                <select name="order_detail_form[setting][email][bill]" class="form-control">
                                    {% for bill in bills %}
                                    <option value="{{ bill.id }}">
                                        {{ search.get_setting("PDF","FACTURE_PREFIX").value ~ bill.id }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="submit" value="Envoyer" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}

{% block close_btn_area %}
{% if bills is defined and bills | length > 0 %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Clôture de l'avoir
            </div>
            <div class="card-body">
                <a href="{{  path("order_validation", {id: order.id, idStatus: status_close.id })}}"
                    class="btn btn-danger btnValidation">Etape 3/3 Confirmer l'expédition de tous les élements</a>

            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %#}