{% extends 'template_coreui.html.twig' %}

{% block title %}Nouvelle Adresse{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

<div class="client-wrapper">

    <div class="container">
        <h1>Création d'une adresse !</h1>

        {{ form_start(formAddress) }}


        {{ form_row(formAddress.Name,{'label': 'Intitulé de l\'address', 'attr': {'placeholder': 'Intitulé de l\'address'}})
        }}
        {{ form_row(formAddress.Street,{'label': 'Adresse', 'attr': {'placeholder': 'Adresse'}}) }}
        {{ form_row(formAddress.ZipCode,{'label': 'Code Postal', 'attr': {'placeholder': 'Code Postal'}}) }}
        {{ form_row(formAddress.City,{'label': 'Ville', 'attr': {'placeholder': 'Ville'}}) }}
        {{ form_row(formAddress.Country,{'label': 'Pays', 'attr': {'placeholder': 'Pays'}}) }}
        {{ form_row(formAddress.ContentComment,{'label': 'Commentaire', 'attr': {'placeholder': 'Commentaire'}})
        }}

        <button type="submit" class="btn btn-success">Ajouter l'agent</button>

        {{ form_end(formAddress) }}
    </div>

</div>

{% endblock %}
{% block javascripts %}
<!-- <script src="{#{  asset('client.js','qobd_web_js') }#}"></script> -->
{% endblock %}