{% extends 'template_coreui.html.twig' %}

{% set page_title = 'Nouveau contact' %}

{% block home_path %}
<li class="breadcrumb-item">
    <a href="{{ path("client_home") }}">Clients</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ parent() }} - {{ page_title }} {% endblock %}

{% block body_header_right %}
    <button form="global_form" type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
    {% if formContact.vars.data.id > 0 %}
        <a href="{{ path("client_show",{id: formContact.vars.data.client.id}) }}" class="btn btn-secondary"><i class="fa fa-undo"></i></a>
        <a href="{{ path("client_contact_delete",{id: formContact.vars.data.id}) }}" class="btn btn-danger btnDelete"><i class="fa fa-trash"></i></a>
    {% endif %}
{% endblock %}

{% block body %}

<div class="contact-wrapper">

    {% include "notify.html.twig" %}

    <div class="animated fadeIn">

        {{ form_start(formContact, { 'attr': {'id': 'global_form' }}) }}

        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Contact</div>
            <div class="card-body">
        
                <div class="c-switch-wrapper">
                    <span class="badge badge-success">Contact principal</span>
                    <label class="c-switch c-switch-label c-switch-primary">
                        {% if formContact.vars.data.IsPrincipal %}
                        <input name="contact_registration[is_principal]" class="c-switch-input" type="checkbox" checked>
                        {% else %}
                        <input name="contact_registration[is_principal]" class="c-switch-input" type="checkbox">
                        {% endif %}
                        <span class="c-switch-slider" data-checked="Oui" data-unchecked="Non"></span>
                    </label>
                </div>
                <br />
        
        
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Prénom">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    {{ form_widget(formContact.Firstname,{'attr': {'placeholder': 'Prénom'}}) }}
                </div>
        
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Nom">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    {{ form_widget(formContact.LastName,{'attr': {'placeholder': 'Nom'}}) }}
                </div>
        
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Fonction">
                            <i class="fa fa-chess-board"></i>
                        </span>
                    </div>
                    {{ form_widget(formContact.Position,{'attr': {'placeholder': 'Fonction'}}) }}
                </div>
        
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Email">
                            @
                        </span>
                    </div>
                    {{ form_widget(formContact.Email,{'attr': {'placeholder': 'Email'}}) }}
                </div>
        
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Téléphone">
                            <i class="fa fa-phone"></i>
                        </span>
                    </div>
                    {{ form_widget(formContact.Phone,{'attr': {'placeholder': 'Téléphone'}}) }}
                </div>
        
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Téléphone mobile">
                            <i class="fa fa-mobile"></i>
                        </span>
                    </div>
                    {{ form_widget(formContact.Mobile,{'attr': {'placeholder': 'Téléphone mobile'}}) }}
                </div>
        
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Commentaires">
                            <i class="fa fa-comments"></i>
                        </span>
                    </div>
                    {{ form_widget(formContact.ContentComment,{'attr': {'placeholder': 'Commentaires'}}) }}
                </div>
        
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Adresse</div>
            <div class="card-body">
                
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Rue">
                            <i class="fa fa-address-card"></i>
                        </span>
                    </div>
                    {{ form_widget(formContact.Street,{'attr': {'placeholder': 'Rue'}}) }}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Code postale">
                            <i class="fa fa-map"></i>
                        </span>
                    </div>
                    {{ form_widget(formContact.ZipCode,{'attr': {'placeholder': 'Code postale'}}) }}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Ville">
                            <i class="fa fa-map"></i>
                        </span>
                    </div>
                    {{ form_widget(formContact.City,{'attr': {'placeholder': 'Ville'}}) }}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Country">
                            <i class="fa fa-map-marker-alt"></i>
                        </span>
                    </div>
                    {{ form_widget(formContact.Country,{'attr': {'placeholder': 'Pays'}}) }}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Commentaire">
                            <i class="fa fa-comments"></i>
                        </span>
                    </div>
                    {{ form_widget(formContact.AddressComment,{'attr': {'placeholder': 'Commentaire'}}) }}
                </div>        
                
            </div>
        </div>
        {{ form_end(formContact) }}

    </div>
</div>

{% endblock %}
{% block javascripts %}
<!-- <script src="{#{  asset('client.js','qobd_web_js') }#}"></script> -->
{% endblock %}