{% extends 'template_coreui.html.twig' %}

{% set page_title = 'Détail client' %}

{% block home_path %}
<li class="breadcrumb-item">
    <a href="{{ path("client_home") }}">Clients</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ parent() }} - {{ page_title }} {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('agent.css', 'qobd_web_css') }}">
{% endblock %}

{% block body_header_left %}

<div class="row">
    <div class="col-md-3">
        <div class="c-callout c-callout-info">
            <strong class="h4">Société {{ client.CompanyName }}</strong>
        </div>
    </div>
    <div class="col-md-9">
        <div class="c-callout c-callout-success">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body p-3 d-flex align-items-center">
                            <div class="bg-gradient-danger p-3 mfe-3">
                                <svg class="c-icon c-icon-xl">
                                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                                </svg>
                            </div>
                            <div>
                                <div class="text-value text-primary">{{ encours }}€</div>
                                <div class="text-muted text-uppercase font-weight-bold small">Encours</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body p-3 d-flex align-items-center">
                            <div class="bg-gradient-info p-3 mfe-3">
                                <svg class="c-icon c-icon-xl">
                                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                                </svg>
                            </div>
                            <div>
                                <div class="text-value text-primary">{{ nb_quote }}</div>
                                <div class="text-muted text-uppercase font-weight-bold small">Devis</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body p-3 d-flex align-items-center">
                            <div class="bg-gradient-warning p-3 mfe-3">
                                <svg class="c-icon c-icon-xl">
                                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                                </svg>
                            </div>
                            <div>
                                <div class="text-value text-primary">{{ nb_order }}</div>
                                <div class="text-muted text-uppercase font-weight-bold small">Commandes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            


        </div>
    </div>
</div>

{% endblock %}

{% block body_header_right %}
<a href="{{ path("client_edit",{id: client.id}) }}" class="btn btn-primary"><i class="fa fa-pencil-alt"></i></a>
<a href="{{ path("client_registration") }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
<a href="{{ path("client_delete",{id: client.id}) }}" class="btn btn-danger btnDelete"><i class="fa fa-trash"></i></a>
{% endblock %}

{% block body %}

<div class="client-wrapper">

        <div class="animated fadeIn">

            <div class="card">
                <div class="card-header"> List group<small>tab Javascript plugin</small></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="tab" href="#clienthome" role="tab" aria-controls="clienthome"
                                    aria-selected="true">Client</a>
                                <a class="list-group-item list-group-item-action"
                                    id="quoteclient-list" data-toggle="tab" href="#quoteclient" role="tab"
                                    aria-controls="quoteclient" aria-selected="false">Devis</a>
                                <a class="list-group-item list-group-item-action" id="orderclient-list" data-toggle="tab"
                                    href="#orderclient" role="tab" aria-controls="orderclient"
                                    aria-selected="false">Commandes</a>
                                <a class="list-group-item list-group-item-action"
                                    id="contactclient-list" data-toggle="tab" href="#contactclient" role="tab"
                                    aria-controls="list-settings" aria-selected="false">Contacts</a>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade active show" id="clienthome" role="tabpanel" aria-labelledby="clienthome">
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">N° Client</label>
                                        <div class="col-md-9">
                                            <strong><label class="col-form-label">#{{ client.id }}</label></strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Dénomination</label>
                                        <div class="col-md-9">
                                            <strong><label class="col-form-label">{{ client.Denomination }}</label></strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Encours Max</label>
                                        <div class="col-md-9">
                                            <strong><label class="col-form-label">{{ client.MaxCredit }}€</label></strong>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label">Delais Max</label>
                                        <div class="col-md-9">
                                            <strong><label class="col-form-label">{{ "now" | date_modify("+" ~ client.PayDelay ~ "day") | date("d/m/Y") }}</label></strong>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Commentaires</label>
                                        <div class="">
                                            <textarea class="form-control" cols="80">{{ client.Comment.content }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="quoteclient" role="tabpanel" aria-labelledby="quoteclient">
                                    <table id="quote_table_js" class="table table-responsive-sm table-striped">
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="orderclient" role="tabpanel" aria-labelledby="orderclient">
                                    <table id="order_table_js" class="table table-responsive-sm table-striped">
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="contactclient" role="tabpanel"
                                    aria-labelledby="list-settings-list">                                    
                                        <div class="row">
                                            <div class="offset-md-11 col-md-1">
                                                <a class="btn btn-primary" id="btnAddContact"
                                                    href="{{ path("client_contact_registration", {idClient: client.id}) }}">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    <table id="contact_table_js" class="table table-responsive-sm table-striped">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>Devis</div>
                <div class="card-body">
            
                    <table id="quote_table_js" class="table table-responsive-md table-bordered table-striped table-md">
                    </table>
            
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>Commandes</div>
                <div class="card-body">
            
                    <table id="order_table_js" class="table table-responsive-md table-bordered table-striped table-md">
                    </table>
            
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-11">
                            <i class="fa fa-align-justify"></i>Contacts
                        </div>
                        <div class="col-md-1">
                            <a class="btn btn-primary" id="btnAddContact" href="{{ path("client_contact_registration", {idClient: client.id}) }}">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                <div class="card-body">
            
                    <table id="contact_table_js" class="table table-responsive-md table-bordered table-striped table-md">
                    </table>
            
                </div>
            </div>
        </div> -->
    </div>

    <!-- <input type="hidden" id="contact_data_source" value="{#{ contact_data_source }#}"> -->
    <input type="hidden" id="client_id" value="{{ client.id }}">
{% endblock %}

{% block access_pool %}
<div class="access_pool">
    <input type="hidden" id="is_read" value="{{ search.get_right_read("ACTION_CLIENT") }}" />
    <input type="hidden" id="is_quote_write" value="{{ search.get_right_write("ACTION_QUOTE") }}" />
    <input type="hidden" id="is_write" value="{{ search.get_right_write("ACTION_CLIENT") }}" />
    <input type="hidden" id="is_update" value="{{ search.get_right_update("ACTION_CLIENT") }}" />
    <input type="hidden" id="is_delete" value="{{ search.get_right_delete("ACTION_CLIENT") }}" />
    <input type="hidden" id="is_mail" value="{{ search.get_right_email("ACTION_CLIENT") }}" />
    <input type="hidden" id="is_admin" value="{{ search.get_right_admin() }}" />
</div>
{% endblock %}

{% block javascripts %}
<script src="{{  asset('js/client.js','theme_default') }}"></script>
{% endblock %}