{% extends 'order/show.html.twig' %}


{#% block title %}{{ parent() }} - Commande {% endblock %}

{% block home_path %}
    <li class="breadcrumb-item">
        Commande & Devis
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path("order_home")}}">Commandes</a>
    </li>
    <li class="breadcrumb-item">
        Détail commande
    </li>
{% endblock %}

{% block body_header_left %}
    <div class="row">
        <div class="col-md-3">
            <div class="c-callout">
                <strong class="h4">{{ order.status.displayname }}</strong>
            </div>
        </div>
        <div class="col-md-9">
            <div class="c-callout c-callout-info">

                {% block callout_resume %}
                <div class="">
                    {{ order.status.displayname ~ ' n°#' ~ order.id ~ ' du ' ~ order.createdat | date("d/m/Y") ~ ' pour
                    le client ' ~ order.Contact.FirstName ~ ' ' ~ order.Contact.LastName }}
                    {% if order.client.companyname is not empty %}
                    <a href="{{ path("client_show", {id: order.client.id}) }}">{{ order.client.companyname }}</a><br />
                    {% endif %}
                    géré par
                    {{ order.agent.Firstname ~ ' ' ~ order.agent.LastName }}
                </div>
                {% endblock %}

                {% block control_btn_area %}
                <div class="btn-group">
                    <a href="{{ path("order_validation", {id: order.id, idStatus: order_status_quote.id}) }}"
                        class="btn btn-success btnValidation">Convertir en devis</a>
                    <a href="{{ path("order_validation", {id: order.id, idStatus: order_status_refund.id}) }}"
                        class="btn btn-danger btnValidation">Convertir en avoir</a>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_header_right %}
    {% if search.get_right_update("ACTION_ORDER") %}
    <button form="global_form" type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
    {% endif %}
{% endblock %}


{% block body %}
    <div class="order-detail-wrapper">
        
        <form id="global_form" action="{{ path("order_detail_save", {id: order.id}) }}" method="POST">
            <input type="hidden" name="order" value="{{ order.id }}">

            <div class="animated fadeIn">
                
                {% block product_area %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-11">
                                        <i class="fa fa-align-justify"></i> Liste des produits et tarifs
                                    </div>
                                    {% if order.status.name == "STATUS_ORDER" or order.status.name == "STATUS_QUOTE" %}
                                    <div class="col-md-1">
                                        <a class="btn btn-primary" id="btnAddItem" href="#"
                                            data-status="{{ order.status.name }}"><i class="fa fa-plus"></i></a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="order_detail_table_js"
                                    class="table table-responsive-md table-bordered table-striped table-md">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% block comment_area %}
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="card border-primary">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> commentaire(interne)
                            </div>
                            <div class="card-body">
                                <textarea name="order_detail_form[commentaire][prive]" id="" cols="30"
                                    rows="10">{{ order.PrivateComment.Content| default("") }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="card border-danger">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> commentaire visible par le client
                            </div>
                            <div class="card-body">
                                <textarea name="order_detail_form[commentaire][public]" id="" cols="30"
                                    rows="10">{{ order.PublicComment.Content| default("") }}</textarea>
                            </div>
                        </div>
                    </div>
                    {% if search.get_right_read("ACTION_SENSIBLE") %}
                    <div class="col-sm-6 col-md-4">
                        <div class="card  border-info">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> commentaire admin
                            </div>
                            <div class="card-body">
                                <textarea name="order_detail_form[commentaire][admin]" id=""
                                    rows="10">{{ order.AdminComment.Content | default("") }}</textarea>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endblock %}

                
                {% block statistic_area %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card border border-info">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="c-callout c-callout-warning">
                                            <small class="text-muted">Total HT ({{ order.currency.symbol }})</small>
                                            <br>
                                            <strong class="h4">{{ info.total_HT }}</strong>
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-3" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-2">
                                        <div class="c-callout c-callout-success">
                                            <small class="text-muted">Total TTC ({{ order.currency.symbol }})</small>
                                            <br>
                                            <strong class="h4">{{ info.total_TTC }}</strong>
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    
                                    <div class="col-sm-2">
                                        <div class="c-callout c-callout-primary">
                                            <small class="text-muted">Marge (%)</small>
                                            <br>
                                            <strong class="h4">{{ info.marge_perc }}%</strong>
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="c-callout c-callout-secondary">
                                            <small class="text-muted">Marge ({{ order.currency.symbol }})</small>
                                            <br>
                                            <strong class="h4">{{ info.marge_amount }}</strong>
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                    
                                    <div class="col-sm-2">
                                        <div class="c-callout c-callout-danger">
                                            <small class="text-muted">Montant TVA ({{ order.currency.symbol }})</small>
                                            <br>
                                            <strong class="h4">{{ info.VAT_amount }}</strong>
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-2">
                                        <div class="c-callout c-callout-info">
                                            <small class="text-muted">TVA</small>
                                            <br>
                                            {% if order.tax.IsTVAMarge %}
                                            <h6>TVA/MARGE</h6>
                                            {% else %}
                                            <strong class="h4">{{ order.tax.value }}%</strong>
                                            {% endif %}
                                            <div class="chart-wrapper">
                                                <canvas id="sparkline-chart-4" width="100" height="30"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}

                
                {% block devis_tva_area %}
                <div class="row">

                    
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> TVA
                            </div>
                            <div class="card-body">
                                <select name="order_detail_form[tax]" class="form-control">
                                    <option value="">Veuillez selectionner une TVA</option>
                                    {% for tax in taxes %}
                                    {% if order.tax is not null and tax.id == order.tax.id %}
                                    <option value="{{ tax.id }}" selected>{{ tax.value ~ "% - " ~ tax.type }}</option>
                                    {% else %}
                                    <option value="{{ tax.id }}">{{ tax.value ~ "% - " ~ tax.type }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Devise
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <select name="order_detail_form[currency]" class="form-control">
                                            <option value="">Veuillez selectionner une devise</option>
                                            {% for currency in currencies %}
                                            {% if order.currency is not null and currency.id == order.currency.id %}
                                            <option value="{{ currency.id }}" selected>
                                                {{ currency.symbol ~ " - " ~ currency.Country }}</option>
                                            {% else %}
                                            <option value="{{ currency.id }}">
                                                {{ currency.symbol ~ " - " ~ currency.Country }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}

                
                {% block delivery_address_area %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> Adresse de livraison
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <select name="order_detail_form[contact]" class="form-control">
                                            <option value="">Veuillez selectionner un contact</option>
                                            {% for contact in order.Client.Contacts %}
                                            {% if order.contact and contact.id == order.contact.id %}
                                            <option value="{{ contact.id }}" selected>
                                                {{ contact.Firstname ~ " " ~ contact.LastName }}</option>
                                            {% else %}
                                            <option value="{{ contact.id }}">
                                                {{ contact.Firstname ~ " " ~ contact.LastName }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="adresse-wrapper">
                                            {% if order.contact %}
                                            {{ order.contact.Address.Street  }}<br />
                                            {{ order.contact.Address.ZipCode ~ " " ~ order.contact.Address.City }}<br />
                                            {{ order.contact.Address.Country }}
                                            {% else %}
                                            Veuillez renseigner un contact pour l'adresse de livraison
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}

                
                {% block quote_area %}{% endblock %}
        </form>

        
        {% block delivery_recipt_creation_area %}{% endblock %}

        
        {% block bill_creation_area %}{% endblock %}

        
        {% block delivery_recipt_area %}{% endblock %}

        
        {% block bill_recipt_area %}{% endblock %}

        
        {% block email_area %}{% endblock %}

        
        {% block close_btn_area %}{% endblock %}

    </div>
    <input type="hidden" id="order_id" value="{{ order.id }}">
    <input type="hidden" id="order_status" value="{{ order.status.name }}">

    {% if status_refund is defined %}
    <input type="hidden" id="status_refund" value="{{ status_refund.id }}">
    {% endif %}

    {% if can_open_row is defined %}
    <input type="hidden" id="control_can_open_row" value="{{ can_open_row }}">
    {% endif %}
{% endblock %}

{% block javascripts %}
<script src="{{  asset('js/order.js','theme_default') }}"></script>
{% endblock %}

{% block access_pool %}
<div class="access_pool">
    <input type="hidden" id="is_read" value="{{ search.get_right_read("ACTION_ORDER") }}" />
    <input type="hidden" id="is_write" value="{{ search.get_right_write("ACTION_ORDER") }}" />
    <input type="hidden" id="is_update" value="{{ search.get_right_update("ACTION_ORDER") }}" />
    <input type="hidden" id="is_delete" value="{{ search.get_right_delete("ACTION_ORDER") }}" />
    <input type="hidden" id="is_mail" value="{{ search.get_right_email("ACTION_ORDER") }}" />
    <input type="hidden" id="is_read_sensible" value="{{ search.get_right_read("ACTION_SENSIBLE") }}" />
    <input type="hidden" id="is_admin" value="{{ search.get_right_admin() }}" />
</div>
{% endblock %#}

{% block javascripts %}
<script src="{{ asset('../' ~ search.get_site_config().code ~ '/js/order.js','theme_default') }}"></script>
{% endblock %}