<html lang="en-US" class="wf-montserrat-n4-active wf-active">
    <head>
        <title>{{ search.get_setting("SOCIETE","SOCIETE_NOM").value }}</title>
        <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset('style/scss/blog/dc7c6e8470152dc9e9489a73751bdff1.css', 'theme_default') }}">
        <link rel="stylesheet" href="{{ asset('all.min.css', 'font_awsome_css') }}"> 
        <link rel="stylesheet" href="{{ asset('style/scss/font-awesome.css', 'theme_default') }}">
        {# <link rel="stylesheet" href="https://demo.themegrill.com/flash/wp-content/cache/min/106/dc7c6e8470152dc9e9489a73751bdff1.css" data-minify="1">  #}
        <!-- <link rel="stylesheet" href="dc7c6e8470152dc9e9489a73751bdff1.css"/>  -->
        <link rel="stylesheet" href="{{ asset('style/scss/blog/blog.css', 'theme_default') }}">
        <style type="text/css">
            img.wp-smiley,img.emoji{display:inline!important;border:none!important;box-shadow:none!important;height:1em!important;width:1em!important;margin:0 .07em!important;vertical-align:-0.1em!important;background:none!important;padding:0!important}
        </style>
        <link rel="stylesheet" href="{{ asset('style/scss/blog/woocommerce-smallscreen-3.6.3.css', 'theme_default') }}">
        {# <link rel="stylesheet" id="woocommerce-smallscreen-css" href="https://demo.themegrill.com/flash/wp-content/cache/busting/106/flash/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen-3.6.3.css" type="text/css" media="only screen and (max-width: 768px)"> #}
        <style id="woocommerce-inline-inline-css" type="text/css">
            .woocommerce form .form-row .required{visibility:visible}
        </style>
        <style id="flash-style-inline-css" type="text/css">
            #site-navigation ul li:hover>a,#site-navigation ul li.current-menu-item>a,#site-navigation ul li.current_page_item>a,#site-navigation ul li.current_page_ancestor>a,#site-navigation ul li.current-menu-ancestor>a,#site-navigation ul.sub-menu li:hover>a,#site-navigation ul li ul.sub-menu li.menu-item-has-children ul li:hover>a,#site-navigation ul li ul.sub-menu li.menu-item-has-children:hover>.menu-item,body.transparent #masthead .header-bottom #site-navigation ul li:hover>.menu-item,body.transparent #masthead .header-bottom #site-navigation ul li:hover>a,body.transparent #masthead .header-bottom #site-navigation ul.sub-menu li:hover>a,body.transparent #masthead .header-bottom #site-navigation ul.sub-menu li.menu-item-has-children ul li:hover>a,body.transparent.header-sticky #masthead-sticky-wrapper #masthead .header-bottom #site-navigation ul.sub-menu li>a:hover,.tg-service-widget .service-title-wrap a:hover,.tg-service-widget .service-more,.feature-product-section .button-group button:hover,.fun-facts-section .fun-facts-icon-wrap,.fun-facts-section .tg-fun-facts-widget.tg-fun-facts-layout-2 .counter-wrapper,.blog-section .tg-blog-widget-layout-2 .blog-content .read-more-container .read-more a,footer.footer-layout #top-footer .widget-title::first-letter,footer.footer-layout #top-footer .widget ul li a:hover,footer.footer-layout #bottom-footer .copyright .copyright-text a:hover,footer.footer-layout #bottom-footer .footer-menu ul li a:hover,.archive #primary .entry-content-block h2.entry-title a:hover,.blog #primary .entry-content-block h2.entry-title a:hover,#secondary .widget ul li a:hover,.woocommerce-Price-amount.amount,.team-wrapper .team-content-wrapper .team-social a:hover,.testimonial-container .testimonial-wrapper .testimonial-slide .testominial-content-wrapper .testimonial-icon,.footer-menu li a:hover,.tg-feature-product-filter-layout .button.is-checked:hover,.testimonial-container .testimonial-icon,#site-navigation ul li.menu-item-has-children:hover>.sub-toggle,.woocommerce-error::before,.woocommerce-info::before,.woocommerce-message::before,#primary .post .entry-content-block .entry-meta a:hover,#primary .post .entry-content-block .entry-meta span:hover,.entry-meta span:hover a,.post .entry-content-block .entry-footer span a:hover,#secondary .widget ul li a,#comments .comment-list article.comment-body .reply a,.tg-slider-widget .btn-wrapper a,.entry-content a,.related-posts-wrapper .entry-title a:hover,.related-posts-wrapper .entry-meta>span a:hover
            {color:#30afb8}
            .blog-section .tg-blog-widget-layout-1 .tg-blog-widget:hover,#scroll-up,.header-bottom .search-wrap .search-box .searchform .btn:hover,.header-bottom .cart-wrap .flash-cart-views a span,body.transparent #masthead .header-bottom #site-navigation ul li a::before,.tg-slider-widget.slider-dark .btn-wrapper a:hover,.section-title:after,.about-section .about-content-wrapper .btn-wrapper a,.tg-service-widget .service-icon-wrap,.team-wrapper .team-content-wrapper .team-designation:after,.call-to-action-section .btn-wrapper a:hover,.blog-section .tg-blog-widget-layout-1:hover,.blog-section .tg-blog-widget-layout-2 .post-image .entry-date,.blog-section .tg-blog-widget-layout-2 .blog-content .post-readmore,.pricing-table-section .tg-pricing-table-widget:hover,.pricing-table-section .tg-pricing-table-widget.tg-pricing-table-layout-2 .pricing,.pricing-table-section .tg-pricing-table-widget.tg-pricing-table-layout-2 .btn-wrapper a,footer.footer-layout #top-footer .widget_tag_cloud .tagcloud a:hover,#secondary .widget-title:after,#secondary .searchform .btn:hover,#primary .searchform .btn:hover,#respond #commentform .form-submit input,.woocommerce span.onsale,.woocommerce ul.products li.product .onsale,.woocommerce ul.products li.product .button,.woocommerce #respond input#submit.alt,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.added_to_cart.wc-forward,.testimonial-container .swiper-pagination.testimonial-pager .swiper-pagination-bullet:hover,.testimonial-container .swiper-pagination.testimonial-pager .swiper-pagination-bullet.swiper-pagination-bullet-active,.header-bottom .searchform .btn,.navigation .nav-links a:hover,.bttn:hover,button,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover,.tg-slider-widget .btn-wrapper a:hover
            {background-color:#30afb8}
            .feature-product-section .tg-feature-product-layout-2 .tg-container .tg-column-wrapper .tg-feature-product-widget .featured-image-desc,.tg-team-widget.tg-team-layout-3 .team-wrapper .team-img .team-social
            {background-color:rgba(48,175,184,.8)}
            #respond #commentform .form-submit input:hover
            {background-color:#1c9ba4}
            .tg-slider-widget.slider-dark .btn-wrapper a:hover,.call-to-action-section .btn-wrapper a:hover,footer.footer-layout #top-footer .widget_tag_cloud .tagcloud a:hover,.woocommerce-error,.woocommerce-info,.woocommerce-message,#comments .comment-list article.comment-body .reply a::before,.tg-slider-widget .btn-wrapper a,.tg-slider-widget .btn-wrapper a:hover
            {border-color:#30afb8}
            body.transparent.header-sticky #masthead-sticky-wrapper.is-sticky #site-navigation ul li.current-flash-item a,#site-navigation ul li.current-flash-item a,body.transparent.header-sticky #masthead-sticky-wrapper #site-navigation ul li:hover>a,body.transparent #site-navigation ul li:hover .sub-toggle
            {color:#30afb8}
            .tg-service-widget .service-icon-wrap:after
            {border-top-color:#30afb8}
            body.transparent.header-sticky #masthead-sticky-wrapper .search-wrap .search-icon:hover,body.transparent .search-wrap .search-icon:hover,.header-bottom .search-wrap .search-icon:hover
            {border-color:#30afb8}
            body.transparent.header-sticky #masthead-sticky-wrapper .search-wrap .search-icon:hover,body.transparent #masthead .header-bottom .search-wrap .search-icon:hover,.header-bottom .search-wrap .search-icon:hover,.breadcrumb-trail.breadcrumbs .trail-items li:first-child span:hover,.breadcrumb-trail.breadcrumbs .trail-items li span:hover a
            {color:#30afb8}
            .woocommerce ul.products li.product .button:hover,.woocommerce #respond input#submit.alt:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover,.added_to_cart.wc-forward:hover
            {background-color:#1c9ba4}
            .feature-product-section .tg-feature-product-widget .featured-image-desc::before,.blog-section .row:nth-child(odd) .tg-blog-widget:hover .post-image::before
            {border-right-color:#30afb8}
            .feature-product-section .tg-feature-product-widget .featured-image-desc::before,.blog-section .row:nth-child(odd) .tg-blog-widget:hover .post-image::before,footer.footer-layout #top-footer .widget-title,.blog-section .row:nth-child(2n) .tg-blog-widget:hover .post-image::before
            {border-left-color:#30afb8}
            .blog-section .tg-blog-widget-layout-2 .entry-title a:hover,.blog-section .tg-blog-widget-layout-2 .tg-blog-widget:hover .blog-content .entry-title a:hover,.tg-blog-widget-layout-2 .read-more-container .entry-author:hover a,.tg-blog-widget-layout-2 .read-more-container .entry-author:hover,.blog-section .tg-blog-widget-layout-2 .read-more-container .read-more:hover a
            {color:#1c9ba4}
            .tg-service-widget .service-more:hover
            {color:#1c9ba4}
            @media(max-width:980px){
                #site-navigation ul li.menu-item-has-children .sub-toggle
                {background-color:#30afb8}
            }
            @media screen and (min-width:56.875em){
                .main-navigation li:hover>a,.main-navigation li.focus>a
                {color:#30afb8}
            }
            .site-branding
            {margin:0 auto 0 0}
            .site-branding .site-title,.site-description
            {clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}
            .logo .logo-text
            {padding:0}
        </style>
        <style id="kirki-styles-flash_config-inline-css" type="text/css">
            body{font-family:Montserrat,Helvetica,Arial,sans-serif;font-weight:400}
        </style> 
        <script type="text/javascript">
            /* <![CDATA[ */ 
            var monsterinsights_frontend = {"js_events_tracking":"true","download_extensions":"doc,pdf,ppt,zip,xls,docx,pptx,xlsx","inbound_paths":"[]","home_url":"https:\/\/demo.themegrill.com\/flash","hash_tracking":"false"}; /* ]]> */</script>    <script type="text/javascript">/* <![CDATA[ */ var ctPublic = {"_ajax_nonce":"5b583fad0a","_ajax_url":"https:\/\/demo.themegrill.com\/flash\/wp-admin\/admin-ajax.php"}; /* ]]> */
        </script>  
        <script type="text/javascript">
        /* <![CDATA[ */ var ctNocache = {"ajaxurl":"https:\/\/demo.themegrill.com\/flash\/wp-admin\/admin-ajax.php","info_flag":"","set_cookies_flag":"","blog_home":"https:\/\/demo.themegrill.com\/flash\/"}; /* ]]> */</script>  <link rel="https://api.w.org/" href="https://demo.themegrill.com/flash/wp-json/"><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://demo.themegrill.com/flash/xmlrpc.php?rsd">
        <style type="text/css" media="all" id="siteorigin-panels-layouts-head">
            #pgc-5-0-0,#pgc-5-2-0,
            #pgc-5-3-0,#pgc-5-4-0,
            #pgc-5-5-0,#pgc-5-7-0,
            #pgc-5-8-0,#pgc-5-9-0{
                width:100%;width:calc(100% - ( 0 * 30px ))
            }
            #pg-5-0,#pg-5-1,#pg-5-2,
            #pg-5-3,#pg-5-4,#pg-5-5,#pg-5-6,#pg-5-7,
            #pg-5-8,#pl-5 .so-panel,#pl-5 .so-panel:last-child{
                margin-bottom:0
            }
            #pgc-5-1-0,#pgc-5-1-1,#pgc-5-1-2{
                width:33.3333%;width:calc(33.3333% - ( 0.66666666666667 * 3% ))
            }
            #pgc-5-6-0,#pgc-5-6-1,#pgc-5-6-2,#pgc-5-6-3{
                width:25%;width:calc(25% - ( 0.75 * 30px ))
            }
            #pg-5-1>.panel-row-style,#pg-5-3>.panel-row-style,
            #panel-5-4-0-0>.panel-widget-style,
            #pg-5-7>.panel-row-style,#panel-5-8-0-0>.panel-widget-style,
            #pg-5-9>.panel-row-style{
                padding:60px 0 60px 0
            }
            #pg-5-2>.panel-row-style{
                background-color:#f9f9f9;padding:60px 0 60px 0
            }
            #pg-5-4>.panel-row-style{
                background-image:url(https://demo.themegrill.com/flash/wp-content/uploads/sites/106/2017/01/CALL-TO-ACTION.jpg);
                background-position:center center;background-repeat:no-repeat
            }
            #pg-5-5>.panel-row-style{
                background-color:#f7f7f7;
                padding:60px 0 60px 0
            }
            #pg-5-6>.panel-row-style{
                background-image:url(https://demo.themegrill.com/flash/wp-content/uploads/sites/106/2017/01/bg.jpg);
                background-position:center center;background-repeat:no-repeat;padding:80px 0 80px 0
            }
            #pg-5-8>.panel-row-style{
                background-color:#353D4A
            }
            @media (max-width:780px){
                #pg-5-0.panel-no-style,#pg-5-0.panel-has-style>.panel-row-style,
                #pg-5-1.panel-no-style,#pg-5-1.panel-has-style>.panel-row-style,
                #pg-5-2.panel-no-style,#pg-5-2.panel-has-style>.panel-row-style,
                #pg-5-3.panel-no-style,#pg-5-3.panel-has-style>.panel-row-style,
                #pg-5-4.panel-no-style,#pg-5-4.panel-has-style>.panel-row-style,
                #pg-5-5.panel-no-style,#pg-5-5.panel-has-style>.panel-row-style,
                #pg-5-6.panel-no-style,#pg-5-6.panel-has-style>.panel-row-style,
                #pg-5-7.panel-no-style,#pg-5-7.panel-has-style>.panel-row-style,
                #pg-5-8.panel-no-style,#pg-5-8.panel-has-style>.panel-row-style,
                #pg-5-9.panel-no-style,#pg-5-9.panel-has-style>.panel-row-style{
                    -webkit-flex-direction:column;
                    -ms-flex-direction:column;
                    flex-direction:column
                }
                #pg-5-0>.panel-grid-cell,#pg-5-0>.panel-row-style>.panel-grid-cell,
                #pg-5-1>.panel-grid-cell,#pg-5-1>.panel-row-style>.panel-grid-cell,
                #pg-5-2>.panel-grid-cell,#pg-5-2>.panel-row-style>.panel-grid-cell,
                #pg-5-3>.panel-grid-cell,#pg-5-3>.panel-row-style>.panel-grid-cell,
                #pg-5-4>.panel-grid-cell,#pg-5-4>.panel-row-style>.panel-grid-cell,
                #pg-5-5>.panel-grid-cell,#pg-5-5>.panel-row-style>.panel-grid-cell,
                #pg-5-6>.panel-grid-cell,#pg-5-6>.panel-row-style>.panel-grid-cell,
                #pg-5-7>.panel-grid-cell,#pg-5-7>.panel-row-style>.panel-grid-cell,
                #pg-5-8>.panel-grid-cell,#pg-5-8>.panel-row-style>.panel-grid-cell,
                #pg-5-9>.panel-grid-cell,#pg-5-9>.panel-row-style>.panel-grid-cell{
                    width:100%;margin-right:0
                }
                #pgc-5-1-0,#pgc-5-1-1,#pgc-5-6-0,#pgc-5-6-1,
                #pgc-5-6-2,#pl-5 .panel-grid .panel-grid-cell-mobile-last{
                    margin-bottom:0
                }
                #pl-5 .panel-grid-cell{
                    padding:0
                }
                #pl-5 .panel-grid .panel-grid-cell-empty{
                    display:none
                }
            }
        </style>
        <link rel="icon" href="https://demo.themegrill.com/flash/wp-content/uploads/sites/106/2017/01/cropped-cropped-flash-logo-32x32.png" sizes="32x32">
        <link rel="icon" href="https://demo.themegrill.com/flash/wp-content/uploads/sites/106/2017/01/cropped-cropped-flash-logo-192x192.png" sizes="192x192">
        <link rel="apple-touch-icon-precomposed" href="https://demo.themegrill.com/flash/wp-content/uploads/sites/106/2017/01/cropped-cropped-flash-logo-180x180.png">
        <meta name="msapplication-TileImage" content="https://demo.themegrill.com/flash/wp-content/uploads/sites/106/2017/01/cropped-cropped-flash-logo-270x270.png">
        <style type="text/css" id="wp-custom-css">
            @media (max-width:680px){
                .panel-row-style[style]{
                    background-position:center center!important;
                    background-size:auto!important
                }
            }
            .tg-slider-widget .btn-wrapper a{
                color:#313b48;border-color:#313b48
            }
            .tg-slider-widget .btn-wrapper a:hover{
                background:#313b48;
                color:#fff;
                border-color:#313b48
            }
            #secondary .widget ul li a{
                color:#000
            }
        </style>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400&amp;subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,khmer,latin,latin-ext,vietnamese,hebrew,arabic,bengali,gujarati,tamil,telugu,thai" media="all"><noscript>
        <!-- <link rel="stylesheet" href="font-google.css"/>  -->
        <style id="rocket-lazyload-nojs-css">.rll-youtube-player,[data-lazy-src]{display:none!important}</style></noscript>
            
    </head>

    <body data-rsssl="1" class="home page-template page-template-page-templates page-template-pagebuilder page-template-page-templatespagebuilder-php page page-id-5 wp-custom-logo everest-forms-js siteorigin-panels  siteorigin-panels-home woocommerce-js non-transparent header-sticky left-logo-right-menu right-sidebar"><div id="preloader-background" style="display: none;">
        <div id="spinners">
            <div id="preloader"> 
                <span></span> 
                <span></span> 
                <span></span> 
                <span></span> 
                <span></span>
            </div>
        </div>
        </div>
        <div id="page" class="site"> 
            <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
            <div id="masthead-sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 110px;">
                <header id="masthead" class="site-header" role="banner" style="width: 1347px; position: fixed; top: 0px; z-index: auto;">
                    <div class="header-top">
                        <div class="tg-container">
                            <div class="tg-column-wrapper clearfix">
                                <div class="left-content">
                                    <ul class="contact-info">
                                        <li>
                                            <i class="fa fa-map-marker"></i> adresse
                                        </li>
                                        <li>
                                            <i class="fa fa-phone"></i> numero de telephone
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope"></i> societe@gmail.com
                                        </li>
                                    </ul>
                                </div>
                                <div class="right-content">
                                    <div class="menu-social-container">
                                        {# <ul id="menu-social" class="social-menu">
                                            <li id="menu-item-107" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-107">
                                                <a href="#">
                                                    <span class="screen-reader-text">facebook</span>
                                                </a>
                                            </li>
                                            <li id="menu-item-108" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-108">
                                                <a href="#">
                                                    <span class="screen-reader-text">twitter</span>
                                                </a>
                                            </li>
                                            <li id="menu-item-109" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-109">
                                                <a href="#">
                                                    <span class="screen-reader-text">google plus</span>
                                                </a>
                                            </li>
                                            <li id="menu-item-110" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-110">
                                                <a href="#">
                                                    <span class="screen-reader-text">linkedin</span>
                                                </a>
                                            </li>
                                        </ul> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-bottom">
                        <div class="tg-container">
                            <div class="logo">
                                {% if search.logo %}
                                <img class="navbar-brand-full" src="{{ search.logo }}" width="89" height="25" alt="CoreUI Logo">
                                {% endif %}
                                {# <figure class="logo-image"> 
                                    <a href="#" class="custom-logo-link" rel="home" itemprop="url">
                                        <img width="107" height="30" src="https://demo.themegrill.com/flash/wp-content/uploads/sites/106/2017/01/flash-logo.png" class="custom-logo lazyloaded" alt="flash-logo" itemprop="logo" data-lazy-src="https://demo.themegrill.com/flash/wp-content/uploads/sites/106/2017/01/flash-logo.png" data-was-processed="true"><noscript>
                                        <img width="107" height="30" src="https://demo.themegrill.com/flash/wp-content/uploads/sites/106/2017/01/flash-logo.png" class="custom-logo" alt="flash-logo" itemprop="logo" /></noscript>
                                    </a>
                                </figure> #}
                                <div class="logo-text site-branding">
                                    <h1 class="site-title">
                                        <a href="#" rel="home">{{ search.get_setting("SOCIETE","SOCIETE_NOM").value }}</a>
                                    </h1>
                                    <p class="site-description"></p>
                                </div>
                            </div>
                            <div class="site-navigation-wrapper">
                                <nav id="site-navigation" class="main-navigation" role="navigation">
                                    <div class="menu-toggle"> 
                                        <i class="fa fa-bars"></i>
                                    </div>
                                    <div class="menu-menu-container">
                                        <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                                            <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-35">
                                                <a href="#">Accueil</a>
                                            </li>
                                            <li id="menu-item-102" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-102">
                                                <a href="#">Lien1</a>
                                            </li>
                                            <li id="menu-item-279" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-279">
                                                <a href="#">Lien2</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-281" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-281">
                                                        <a target="_blank" href="#">Lien21</a>
                                                    </li>
                                                    <li id="menu-item-280" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-280">
                                                        <a target="_blank" href="#">Lien23</a>
                                                    </li>
                                                </ul>
                                                {# <span class="sub-toggle"> 
                                                    <i class="fa fa-angle-down"></i> 
                                                </span> #}
                                            </li>
                                            <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-34">
                                                <a href="#">Lien3</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27">
                                                        <a href="#">Lien31</a>
                                                    </li>
                                                    <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28">
                                                        <a href="#">Lien32</a>
                                                    </li>
                                                    <li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41">
                                                        <a href="#">Lien33</a>
                                                    </li>
                                                    <li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42">
                                                        <a href="#">Lien34</a>
                                                    </li>
                                                </ul>
                                                {# <span class="sub-toggle"> 
                                                    <i class="fa fa-angle-down"></i> 
                                                </span> #}
                                            </li>
                                            <li id="menu-item-312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-312">
                                                <a href="#">Lien4</a>
                                            </li>
                                            <li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213">
                                                <a href="#">Lien5</a>
                                            </li>
                                            <li id="menu-item-278" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-278">
                                                <a href="#">Lien6</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43">
                                                        <a href="#">Lien61</a>
                                                    </li>
                                                    <li id="menu-item-328" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-328">
                                                        <a target="_blank" href="#">Lien62</a>
                                                    </li>
                                                    <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
                                                        <a href="#">Lien63</a>
                                                    </li>
                                                </ul>
                                                {# <span class="sub-toggle"> 
                                                    <i class="fa fa-angle-down"></i> 
                                                </span> #}
                                            </li>
                                            <li id="menu-item-221" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-221">
                                                <a href="#">Lien7</a>
                                            </li>
                                            <li id="menu-item-473" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-473">
                                                <a href="#">Lien8</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="header-action-container">
                                {# <div class="cart-wrap">	
                                    <div class="flash-cart-views">
                                        <a href="#" class="wcmenucart-contents">
                                            <i class="fa fa-cart-plus"></i>
                                            <span class="cart-value">0</span>
                                        </a>
                                    </div>
                                    <div class="widget woocommerce widget_shopping_cart">
                                        <h2 class="widgettitle">Cart</h2>
                                        <div class="widget_shopping_cart_content">
                                            <p class="woocommerce-mini-cart__empty-message">Panier vide</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="search-wrap">
                                    <div class="search-icon"> 
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <div class="search-box">
                                        <form role="search" method="get" class="searchform" action="#"> 
                                            <label> 
                                                <span class="screen-reader-text">Recherche de:</span> 
                                                <input type="search" class="search-field" placeholder="Search …" value="" name="s"> 
                                            </label> 
                                            <button type="submit" class="search-submit btn search-btn">
                                                <span class="screen-reader-text">Chercher</span>
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div> #}
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div id="content" class="site-content">
                <div class="tg-container">
                    <div id="primary" class="content-area pagebuilder-content">
                        <main id="main" class="site-main" role="main">
                            
                            {% block body %}{% endblock %} 

                        </main>
                    </div>
                </div>
            </div>
            <footer id="colophon" class="footer-layout site-footer" role="contentinfo">
                <div id="top-footer">
                    <div class="tg-container">
                        <div class="tg-column-wrapper">
                            <div class="tg-column-4 footer-block">
                                <section id="categories-3" class="widget widget_categories">
                                    <h3 class="widget-title">Categories</h3>
                                    <ul>
                                        <li class="cat-item cat-item-3"><a href="#">Categorie 1</a></li>
                                        <li class="cat-item cat-item-30"><a href="#">Categorie 2</a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="tg-column-4 footer-block">
                                <section id="meta-3" class="widget widget_meta">
                                    <h3 class="widget-title">Liens utiles</h3>
                                    <ul>
                                        <li><a href="#">Lien 1</a></li>
                                        {# <li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li> #}
                                        <li><a href="#">Lien 2 <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                                        <li><a href="#" title=""></a></li>
                                    </ul>
                                </section>
                            </div>
                            <div class="tg-column-4 footer-block">
                                <section id="nav_menu-2" class="widget widget_nav_menu">
                                    <h3 class="widget-title">Liens important</h3>
                                        <div class="menu-important-links-container">
                                            <ul id="menu-important-links" class="menu">
                                                <li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111">
                                                    <a href="#">Lien 1</a>
                                                </li>
                                                <li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-112">
                                                    <a href="#">Lien 2</a>
                                                </li>
                                                {# <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113">
                                                    <a href="">Blog</a>
                                                </li>
                                                <li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-114">
                                                    <a href="http://##">Work with Us</a>
                                                </li> #}
                                            </ul>
                                        </div>
                                </section>
                            </div>
                            <div class="tg-column-4 footer-block">
                                <section id="recent-posts-3" class="widget widget_recent_entries">
                                    <h3 class="widget-title">Articles rescent</h3>
                                    <ul>
                                        <li> <a href="#">contenu 1</a></li>
                                        <li> <a href="#">contenu 2</a></li>
                                        <li> <a href="#">contenu 3</a></li>
                                    </ul>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bottom-footer">
                    <div class="tg-container">
                        <div class="copyright"> 
                            <span class="copyright-text"> 
                                Copyright © 2020 <a href="#">{{ search.get_setting("SOCIETE","SOCIETE_NOM").value }}</a>                                 
                            </span>
                        </div>
                    </div>
                </div>
            </footer> 
            <a href="#masthead" id="scroll-up" style="display: inline;">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
        <style type="text/css" media="all" id="siteorigin-panels-layouts-footer">
            #pgc-w5c650cb44f878-0-0{
                width:100%;width:calc(100% - ( 0 * 30px ))
            }
            #pg-w5c650cb44f878-0,#pl-w5c650cb44f878 .so-panel,
            #pl-w5c650cb44f878 .so-panel:last-child{
                margin-bottom:0
            }
            #pgc-w5c650cb44f878-1-0,#pgc-w5c650cb44f878-1-1,
            #pgc-w5c650cb44f878-1-2{
                width:33.3333%;width:calc(33.3333% - ( 0.66666666666667 * 30px ))
            }
            @media (max-width:780px){
                #pg-w5c650cb44f878-0.panel-no-style,
                #pg-w5c650cb44f878-0.panel-has-style>.panel-row-style,
                #pg-w5c650cb44f878-1.panel-no-style,
                #pg-w5c650cb44f878-1.panel-has-style>.panel-row-style{
                    -webkit-flex-direction:column;
                    -ms-flex-direction:column;
                    flex-direction:column
                }
                #pg-w5c650cb44f878-0>.panel-grid-cell,
                #pg-w5c650cb44f878-0>.panel-row-style>.panel-grid-cell,
                #pg-w5c650cb44f878-1>.panel-grid-cell,
                #pg-w5c650cb44f878-1>.panel-row-style>.panel-grid-cell{
                    width:100%;margin-right:0
                }
                #pgc-w5c650cb44f878-1-0,
                #pgc-w5c650cb44f878-1-1,
                #pl-w5c650cb44f878 .panel-grid .panel-grid-cell-mobile-last{
                    margin-bottom:0
                }
                #pl-w5c650cb44f878 .panel-grid-cell{
                    padding:0
                }
                #pl-w5c650cb44f878 .panel-grid .panel-grid-cell-empty{
                    display:none
                }
            }
        </style>    
        <script type="text/javascript">
            /* <![CDATA[ */ 
            var wc_add_to_cart_params = {"ajax_url":"\/flash\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/flash\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/demo.themegrill.com\/flash\/cart\/","is_cart":"","cart_redirect_after_add":"no"}; /* ]]> */
        </script>   
        <script type="text/javascript">
            /* <![CDATA[ */ 
            var woocommerce_params = {"ajax_url":"\/flash\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/flash\/?wc-ajax=%%endpoint%%"}; /* ]]> */
        </script>  
        <script type="text/javascript">
            /* <![CDATA[ */ 
            var wc_cart_fragments_params = {"ajax_url":"\/flash\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/flash\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_7b539e1c09ce66502ed39d5f47859c7d","fragment_name":"wc_fragments_7b539e1c09ce66502ed39d5f47859c7d","request_timeout":"5000"}; /* ]]> */
        </script>             
        <script type="text/javascript">
            /* <![CDATA[ */ var panelsStyles = {"fullContainer":"body"}; /* ]]> */
        </script>   
        <script>
            window.lazyLoadOptions={elements_selector:"img[data-lazy-src],.rocket-lazyload,iframe[data-lazy-src]",data_src:"lazy-src",data_srcset:"lazy-srcset",data_sizes:"lazy-sizes",class_loading:"lazyloading",class_loaded:"lazyloaded",threshold:300,callback_loaded:function(element){if(element.tagName==="IFRAME"&&element.dataset.rocketLazyload=="fitvidscompatible"){if(element.classList.contains("lazyloaded")){if(typeof window.jQuery!="undefined"){if(jQuery.fn.fitVids){jQuery(element).parent().fitVids()}}}}}};window.addEventListener('LazyLoad::Initialized',function(e){var lazyLoadInstance=e.detail.instance;if(window.MutationObserver){var observer=new MutationObserver(function(mutations){var image_count=0;var iframe_count=0;var rocketlazy_count=0;mutations.forEach(function(mutation){for(i=0;i<mutation.addedNodes.length;i++){if(typeof mutation.addedNodes[i].getElementsByTagName!=='function'){return}
            if(typeof mutation.addedNodes[i].getElementsByClassName!=='function'){return}
            images=mutation.addedNodes[i].getElementsByTagName('img');is_image=mutation.addedNodes[i].tagName=="IMG";iframes=mutation.addedNodes[i].getElementsByTagName('iframe');is_iframe=mutation.addedNodes[i].tagName=="IFRAME";rocket_lazy=mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');image_count+=images.length;iframe_count+=iframes.length;rocketlazy_count+=rocket_lazy.length;if(is_image){image_count+=1}
            if(is_iframe){iframe_count+=1}}});if(image_count>0||iframe_count>0||rocketlazy_count>0){lazyLoadInstance.update()}});var b=document.getElementsByTagName("body")[0];var config={childList:!0,subtree:!0};observer.observe(b,config)}},!1)
        </script>
        <script src="{{ asset('js/blog/lazyload.js','theme_default') }}"></script>
        {# <script data-no-minify="1" async="" src="https://demo.themegrill.com/flash/wp-content/plugins/wp-rocket/assets/js/lazyload/12.0/lazyload.min.js"></script>  #}
        <script src="{{ asset('js/blog/1c07ab9ecb38692ed6f3a5d0fb190703.js','theme_default') }}"></script>
        {# <script src="https://demo.themegrill.com/flash/wp-content/cache/min/106/1c07ab9ecb38692ed6f3a5d0fb190703.js" data-minify="1"></script> #}
        <!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1582362890 -->
    </body>

</html>