<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>{% block title %}{{ search.get_setting("SOCIETE","SOCIETE_NOM").value }}{% endblock %}</title>

  <link rel="stylesheet" href="{{ asset('bootstrap.min.css', 'bootstrap_css') }}">
  <link rel="stylesheet" href="{{ asset('all.min.css', 'font_awsome_css') }}">
  <link rel="stylesheet" href="{{ asset('style/css/src/style.css', 'theme_coreui') }}">     
    <link rel="stylesheet" href="{{ asset('style/scss/base.css', 'theme_default') }}">
   
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-118965717-1');
  </script>
  <style type="text/css">
    /* Chart.js */
    /*
 * DOM element rendering detection
 * https://davidwalsh.name/detect-node-insertion
 */
    @keyframes chartjs-render-animation {
      from {
        opacity: 0.99;
      }

      to {
        opacity: 1;
      }
    }

    .chartjs-render-monitor {
      animation: chartjs-render-animation 0.001s;
    }

    /*
 * DOM element resizing detection
 * https://github.com/marcj/css-element-queries
 */
    .chartjs-size-monitor,
    .chartjs-size-monitor-expand,
    .chartjs-size-monitor-shrink {
      position: absolute;
      direction: ltr;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      pointer-events: none;
      visibility: hidden;
      z-index: -1;
    }

    .chartjs-size-monitor-expand>div {
      position: absolute;
      width: 1000000px;
      height: 1000000px;
      left: 0;
      top: 0;
    }

    .chartjs-size-monitor-shrink>div {
      position: absolute;
      width: 200%;
      height: 200%;
      left: 0;
      top: 0;
    }
  </style>
</head>

<body class="c-app">
  <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand d-md-down-none">
      {% if search.logo %}
      <img class="navbar-brand-full" src="{{ search.logo }}" width="89" height="25" alt="CoreUI Logo">      
      {% endif %}
      {{ search.get_setting("SOCIETE","SOCIETE_NOM").value }}      
    </div>
    <ul class="c-sidebar-nav ps ps--active-y">

      {% if search.get_right_read("ACTION_DASHBORD") %}
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link c-active" href="{{ path("home") }}">
          <i class="fa fa-tachometer-alt"></i> TABLEAU DE BORD
        </a>
      </li>
      {% endif %}

      {% if search.get_right_read("ACTION_CATALOGUE") %}
      <li class="c-sidebar-nav-title">CATALOGUE</li>      
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ path("catalogue_home") }}">
          <i class="fa fa-clone"></i> PRODUITS
        </a>
      </li>
      {% endif %}

      <li class="c-sidebar-nav-title">COMMANDE & AVOIR</li>

      {% if search.get_right_read("ACTION_QUOTE") %}
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ path("order_quote")}}">
          <i class="fa fa-align-justify"></i> DEVIS
        </a>
      </li>
      {% endif %}

      {% if search.get_right_read("ACTION_ORDER") %}
      <li class="c-sidebar-nav-dropdown">
        <a class="c-sidebar-nav-dropdown-toggle" href="#">
          <i class="fa fa-align-justify"></i> COMMANDES</a>
        </a>
        <ul class="c-sidebar-nav-dropdown-items">
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("order_preorder") }}">
              <i class="fa fa-calendar"></i> CMD A VALIDER
            </a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("order_home") }}">
              <i class="fa fa-clipboard-check"></i> CMD VALIDEES
            </a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("order_customer_valid") }}">
              <i class="fa fa-calendar-check"></i> DEMANDE REVALIDATION
            </a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("order_bill") }}">
              <i class="fa fa-cubes"></i> CMD EXPEDIEE</a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("order_closed") }}">
              <i class="fa fa-closed-captioning"></i> CMD PAYEE & CLOTUREE</a>
          </li>
        </ul>
      </li>

      <li class="c-sidebar-nav-dropdown">
        <a class="c-sidebar-nav-dropdown-toggle" href="#">
          <i class="fa fa-align-justify"></i> AVOIRS</a>
        </a>
        <ul class="c-sidebar-nav-dropdown-items">
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("order_prerefund") }}">
              <i class="fa fa-calendar"></i> AVOIR A VALIDER
            </a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("order_refund") }}">
              <i class="fa fa-clipboard-check"></i> AVOIR VALIDE
            </a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("order_bill_refund") }}">
              <i class="fa fa-cubes"></i> AVOIR EXPEDIE</a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("order_refund_closed") }}">
              <i class="fa fa-closed-captioning"></i> AVOIR PAYE & CLOTURE</a>
          </li>
        </ul>
      </li>
      {% endif %}

      {% if search.get_right_read("ACTION_CLIENT") %}
      <li class="c-sidebar-nav-title">SUIVI CLIENTELE</li>
      <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="{{ path("client_home") }}">
          <i class="fa fa-user"></i> CLIENTS
        </a>
      </li>
      {% endif %}
      
      <li class="c-sidebar-nav-title">SECURITE & CONFIGURATION</li>
      {% if search.get_right_read("ACTION_SECURITY") %}      
      <li class="c-sidebar-nav-dropdown">
        <a class="c-sidebar-nav-dropdown-toggle" href="#">
          <i class="fa fa-user-secret"></i> SECURITE</a>
        </a>
        <ul class="c-sidebar-nav-dropdown-items">
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("agent_home") }}">
              <i class="fa fa-fingerprint"></i> COMMERCIAUX
            </a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("security_agent_role") }}">
              <i class="fa fa-id-card"></i> ACCES
            </a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("security_profile") }}">
              <i class="fa fa-passport"></i> PROFILES
            </a>
          </li>
        </ul>
      </li>
      {% endif %}

      {% if search.get_right_read("ACTION_SETTING") %}
      <li class="c-sidebar-nav-dropdown">
        <a class="c-sidebar-nav-dropdown-toggle" href="#">
          <i class="fa fa-user-secret"></i> CONFIGURATION
        </a>        
        <ul class="c-sidebar-nav-dropdown-items">
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("setting_home") }}">
              <i class="fa fa-sliders-h"></i> GENERALE
            </a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("setting_currency") }}">
              <i class="fa fa-coins"></i> MONNAIE
            </a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("setting_tax") }}">
              <i class="fa fa-money-bill-wave-alt"></i> TAXE
            </a>
          </li>
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("setting_email") }}">
              <i class="fa fa-star-half-alt"></i> EMAIL
            </a>
          </li>                   
          <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" href="{{ path("setting_catalogue_import") }}">
              <i class="fa fa-upload"></i> Imports
            </a>
          </li>
          <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
              <i class="fa fa-user-secret"></i> CATALOGUE
            </a>
            <ul class="c-sidebar-nav-dropdown-items">
              <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="{{ path("setting_catalogue_brand") }}">
                  <i class="fa fa-random"></i> MARQUES
                </a>
              </li>
              <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="{{ path("setting_catalogue_group") }}">
                  <i class="fa fa-caret-square-down"></i> FAMILLES
                </a>
              </li>
              <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="{{ path("setting_catalogue_provider") }}">
                  <i class="fa fa-hourglass-half"></i> FOURNISSEURS
                </a>
              </li>
            </ul>
          </li> 

          {% if app.user.isadmin %}
          <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
              <i class="fa fa-user-secret"></i> STATUS
            </a>
            <ul class="c-sidebar-nav-dropdown-items">
              <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="{{ path("setting_delivery_status") }}">
                  <i class="fa fa-star"></i> FACTURATION
                </a>
              </li>
              <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="{{ path("setting_order_status") }}">
                  <i class="fa fa-star-half-alt"></i> COMMANDE
                </a>
              </li>
            </ul>
          </li>          
          <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
              <i class="fa fa-user-secret"></i> SECURITE
            </a>
            <ul class="c-sidebar-nav-dropdown-items">
              <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="{{ path("security_action") }}">
                  <i class="fa fa-fingerprint"></i> ACTIONS
                </a>
              </li>
              <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="{{ path("security_role") }}">
                  <i class="fa fa-passport"></i> ROLES
                </a>
              </li>
            </ul>
          </li>
          {% endif %}

        </ul>
      </li>
      {% endif %}

      <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
      </div>
      <div class="ps__rail-y" style="top: 0px; height: 720px; right: 0px;">
        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 399px;"></div>
      </div>
    </ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
      data-class="c-sidebar-unfoldable"></button>
  </div>
  <div class="chat-wrapper">
    <div class="c-sidebar c-sidebar-lg c-sidebar-light c-sidebar-right c-sidebar-overlaid" id="aside">
      <button class="c-sidebar-close c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-show"
        responsive="true">
        <span class="fa fa-sliders-h"></span>
      </button>
      <ul class="nav nav-tabs nav-underline nav-underline-primary" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">
            <i class="fa fa-comments"></i>
          </a>
        </li>
      </ul>
    
      <div class="tab-content">
        <div class="tab-pane active" id="timeline" role="tabpanel">
          <div class="list-group list-group-accent">
            <a class="btn btn-info discussion-create" href="{{ path("chat_discussion_register", {name: "test"}) }}"><i
                class="fa fa-plus-square"></i></a>
            <div
              class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
              Discussions</div>
        
            <div class="discussion-home-wrapper">
              
              {% for discussion in search.discussions %}
              {% set agentOwner = chat.discussion_owner(discussion) %}
              <div data-id="{{ discussion.id }}" data-current="{{ discussion.iscurrent }}" data-owner="{{ discussion.isowner }}"
                class="list-group-item list-group-item-accent-{% if discussion.iscurrent %}danger{% else %}warning{% endif %} list-group-item-divider dvDiscussion">
                <div class="c-avatar float-right">
                  <img class="img-avatar c-avatar-img" src="{{ search.avatar_dir(agentOwner) }}" alt="admin@bootstrapmaster.com"
                    data-toggle="tooltip" data-placement="top" title="{{ agentOwner.UserName }}">
                </div>
                <a href="{{ path("chat_agent_discusion", {id: discussion.id }) }}" class="link-discussion">
                  <strong class="DiscName">{{ discussion.name }}</strong> {% if discussion.TotalUnRead > 0 %}<span
                    class="badge badge-pill badge-danger">{{ discussion.TotalUnRead }}</span>{% endif %}
                  {% if agentOwner.id == app.user.id %}
                  <a href="#" class="btnDiscSetting">
                    <i class="fa fa-cog"></i>
                  </a>
                  {% endif %}
                </a>
                <small class="text-muted mr-3">
                  {% if agentOwner %}
                  <div>Créer par
                    <strong>{{ agentOwner.username }}</strong>
                  </div>
                  {% endif %}
                  <i class="fa fa-calendar"></i> {{ discussion.CreatedAtShort }}</small>
                <small class="text-muted mr-3">
                  <a href="{{ path("chat_delete_discussion", {id: discussion.id}) }}" class="btnDelete">
                    <i class="fa fa-trash"></i>
                  </a>
                </small>
                <div class="c-avatars-stack mt-2">
                  {% for agent in chat.discussion_users(discussion) %}
                  <div class="c-avatar c-avatar-xs">
                    <img class="img-avatar c-avatar-img" data-id-agent="{{ agent.id }}" src="{{ search.avatar_dir(agent) }}"
                      alt="{{ agent.UserName }}" data-toggle="tooltip" data-placement="top" title="{{ agent.UserName }}">
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel">
          <div data-id-discussion="" class="messages-home-wrapper">
            <div
              class="lstDiscussion list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
            </div>
            <a href="#" class="loadMessages">
              <div
                class="list-group-item list-group-item-accent-warning bg-light text-center font-weight-bold text-muted text-uppercase small">
                Messages plus anciens...
              </div>
            </a>
            <div class="p-3">
              <div class="message-area-wrapper"></div>
              <div class="char-room">
                <div class="card border-info">
                  <div class="card-body">
                    <form method="post">
                      <input type="hidden" name="chat_room[discussion]">
                      <textarea class="form-control" name="chat_room[message]" id=""
                        style="width: 100%; height: 100px;">
                      </textarea>
                      <div class="control-wrapper">
                        <br />
                        <button type="submit" class="float-right btn btn-success"><i class="fa fa-paper-plane"></i></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-wrapper">
    <header class="c-header c-header-light c-header-fixed">
      <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar"
        data-class="c-sidebar-show">
        <i class="fa fa-sliders-h"></i>
      </button>
      <a class="c-header-brand d-lg-none c-header-brand-sm-up-center" href="#">
        {% if search.logo %}
        <img class="navbar-brand-full" src="{{ search.logo }}" width="89" height="25" alt="CoreUI Logo">
        {% endif %}
      </a>
      <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar"
        data-class="c-sidebar-lg-show" responsive="true">
        <span class="fa fa-sliders-h"></span>
      </button>
      <ul class="c-header-nav d-md-down-none">
        {% if search.get_right_read("ACTION_DASHBORD") %}
        <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="{{ path("home") }}">Tableau de bord</a></li>
        {% endif %}
        {% if search.get_right_read("ACTION_CATALOGUE") %}
        <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="{{ path("catalogue_home") }}">Catalogue</a></li>
        {% endif %}
        <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="{{ path("order") }}">Recherche commande</a></li>
        
      </ul>
      <ul class="c-header-nav mfs-auto">
        <li class="c-header-nav-item px-3 c-d-legacy-none">
          <!-- <button class="c-class-toggler c-header-nav-btn" type="button" id="header-tooltip" data-target="body"
            data-class="c-dark-theme" data-toggle="c-tooltip" data-placement="bottom" title=""
            data-original-title="Toggle Light/Dark Mode">
            <i class="fa fa-toggle-off"></i>
          </button> -->
        </li>
      </ul>
      <ul class="c-header-nav">
        {% set unread_messages = chat.unread_messages %}        
        {% if unread_messages and unread_messages > 0 %}
        <li class="c-header-nav-item dropdown d-md-down-none mx-2">
          <a class="c-header-nav-link" data-toggle="dropdown"
            href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-toggle-off"></i>
            <span class="badge badge-pill badge-info">7</span></a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg pt-0">
            <div class="dropdown-header bg-light"><strong>You have 4 messages</strong></div><a class="dropdown-item"
              href="#">
              <div class="message">
                <div class="py-3 mfe-3 float-left">
                  <div class="c-avatar"><img class="c-avatar-img" src="assets/img/avatars/7.jpg"
                      alt="user@email.com"><span class="c-avatar-status bg-success"></span></div>
                </div>
                <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">Just
                    now</small></div>
                <div class="text-truncate font-weight-bold"><span class="text-danger">!</span> Important message</div>
                <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt...</div>
              </div>
            </a><a class="dropdown-item" href="#">
              <div class="message">
                <div class="py-3 mfe-3 float-left">
                  <div class="c-avatar"><img class="c-avatar-img" src="assets/img/avatars/6.jpg"
                      alt="user@email.com"><span class="c-avatar-status bg-warning"></span></div>
                </div>
                <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">5 minutes
                    ago</small></div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt...</div>
              </div>
            </a><a class="dropdown-item" href="#">
              <div class="message">
                <div class="py-3 mfe-3 float-left">
                  <div class="c-avatar"><img class="c-avatar-img" src="assets/img/avatars/5.jpg"
                      alt="user@email.com"><span class="c-avatar-status bg-danger"></span></div>
                </div>
                <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">1:52
                    PM</small></div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt...</div>
              </div>
            </a><a class="dropdown-item" href="#">
              <div class="message">
                <div class="py-3 mfe-3 float-left">
                  <div class="c-avatar"><img class="c-avatar-img" src="assets/img/avatars/4.jpg"
                      alt="user@email.com"><span class="c-avatar-status bg-info"></span></div>
                </div>
                <div><small class="text-muted">John Doe</small><small class="text-muted float-right mt-1">4:03
                    PM</small></div>
                <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
                <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt...</div>
              </div>
            </a><a class="dropdown-item text-center border-top" href="#"><strong>View all messages</strong></a>
          </div>
        </li>
        {% endif %}
        <li class="c-header-nav-item dropdown">
          <a class="c-header-nav-link" data-toggle="dropdown" href="#"
            role="button" aria-haspopup="true" aria-expanded="false">
            <div class="c-avatar">
              {% if app.user.picture %}
              <img class="img-avatar c-avatar-img" src="{{ asset('agent/avatars/' ~ app.user.picture, 'download_dir') }}" alt="Image profile">
              {% else %}
              <img class="img-avatar img-circle c-avatar-img" src="{{ asset('agent/avatars/default.png', 'download_dir') }}" alt="Image profile">
              {% endif %}
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right pt-0">
            <div class="dropdown-header bg-light py-2">
              <strong>Compte</strong>
            </div>
            <a class="dropdown-item" href="{{ path("agent_show", { id: app.user.id }) }}">
              <i class="fa fa-user-circle"></i> Mes Informations
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path("security_logout") }}">
              <i class="fa fa-lock"></i> Déconnexion
            </a>
          </div>
        </li>
        <button class="c-header-toggler c-class-toggler mfe-md-3" type="button" data-target="#aside"
          data-class="c-sidebar-show">
          <span class="fa fa-sliders-h"></span>
        </button>
      </ul>
      <div class="c-subheader justify-content-between px-3">
        <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
          <li class="breadcrumb-item">
            <a href="{{ path("home") }}">Tableau de bord</a>
          </li>
          {% block home_path %} {% endblock %}
        </ol>
        <div class="c-subheader-nav d-md-down-none mfe-2">
          <!-- <a class="c-subheader-nav-link" href="#"> -->
            {% block home_path_right %} {% endblock %}
      </div>
    </header>
    <div class="c-body">
      <main class="c-main">
        <div class="container-fluid">          
          <div id="ui-view">
            {% block body_header %}
            <div class="bodyHeader-wrapper">
              <div class="row">
                <div class="col-md-10">                  
                  {% block body_header_left %}{% endblock %}
                </div>
                <div class="col-md-2">
                  {% block body_header_right %}{% endblock %}
                </div>
              </div>
              {% endblock %}
            </div>
            
            {% block body %}{% endblock %}
          </div>
        </div>
      </main>
      <footer class="c-footer">
        <div>
          <a href="#">QOBD</a>
          <span>&copy; Management. Version 1.0.1</span>
        </div>
        <div class="ml-auto">
          <span>Created by</span>
          <a href="mailto:joel.dago@yahoo.fr">joel dago</a>
        </div>
      
        {#=============================== templates ================================#}
      
        {# Template #}
        <div class="tpl">

          {# cart #}
          <template id="template-cart_btn">
            <div class="input-group">
              <input type="text" data-id="$(cart_item_id)" name="cart_quantity_js" class="form-control cart-quantity"
                placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon"
                value="$(cart_default_value)">
              <div class="input-group-append">
                <a href="$(cart_route)" data-id="$(cart_item_id)" class="cart_add_js">
                  <div class="input-group-text"><i class="fa fa-cart-plus"></i></div>
                </a>
              </div>
            </div>
          </template>
          
          {# discussion #}
          <template id="template-discussion">
            <div data-id="$(discussion_id)" data-current="$(is_current)" data-owner="$(is_owner)"
              class="list-group-item list-group-item-accent-warning list-group-item-divider">
              <div class="avatar float-right">
                <img class="img-avatar c-avatar-img" src="$(url_agent_owner_avatar)" alt="admin@bootstrapmaster.com">
              </div>
              <a href="$(url_chat_agent_discusion)" class="link-discussion">
                <strong>$(discussion_name)</strong>
              </a>
              <small class="text-muted mr-3">
                <div class="owner-wrapper"></div>
                <i class="fa fa-calendar"></i> $(created_at)
              </small>
              <small class="text-muted mr-3">
                <a href="$(url_chat_delete_discussion)" class="btnDelete">
                  <i class="fa fa-trash"></i>
                </a>
              </small>
              <div class="c-avatars-stack mt-2 discussion-recip-wrapper"></div>
            </div>
          </template>
          
          {# discussion new #}
          <template id="template-discussion-new">
            <div class="discussion-new-wrapper">
              <a href="#" class="float-right btnDelete">
                <i class="fa fa-trash"></i>
              </a>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Titre de la discussion</label>
                <input type="text" class="form-control discussion-name">
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Commerciaux</label>
                <div class="ctrlAgents" style="height: 300px; overflow-y: scroll"></div>
              </div>
            </div>
          </template>
          
          {# discussion agent #}
          <template id="template-discussion-agents">
            <div class="message" style="margin-top: 10px;">
              <div class="mr-3 float-left">
                <div class="input-group">
                  <input type="checkbox" data-id-agent="$(agent_id)" class="input-control mr-3 chxAgent">
                  <div class="c-avatar">
                    <img class="img-avatar c-avatar-img" src="$(url_agent_avatar)" alt="$(agent_username)"
                      style="max-height: 50px; ">
                    <span class="c-avatar-status badge-$(status)"></span>
                  </div>
                </div>
              </div>
              <div>
                <small class="text-muted">$(agent_username)</small>
                <small class="text-muted float-right mt-1">der. connection <br />$(last_connected)</small>
              </div>
            </div>
            <hr>
          </template>
          
          {# discussion recipients #}
          <template id="template-discussion-recipients">
            <div class="c-avatar c-avatar-xs">
              <img class="img-avatar c-avatar-img" src="$(url_agent_avatar)" alt="$(agent_username)" data-toggle="tooltip"
                data-placement="top" title="$(agent_username)">
            </div>
          </template>
          
          {# message #}
          <template id="template-message">
            <div class="message">
              <div class="mr-3 float-left">
                <div class="c-avatar">
                  <img class="img-avatar c-avatar-img" src="$(url_agent_avatar)" alt="$(agent_username)">
                  <span class="c-avatar-status badge-$(status)"></span>
                </div>
              </div>
              <div>
                <small class="text-muted">$(agent_username)</small>
                <small class="text-muted float-right mt-1">$(created_at)</small>
              </div>
              <div class="text-truncate font-weight-bold">$(message_content)</div>
              <small class="text-muted">$(message_content)</small>
            </div>
            <hr>
          </template>
        </div>
      
        {# Modal #}
        <div id="mdlDefault" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Modal body text goes here.</p>
              </div>
              <div class="modal-footer">
      
              </div>
            </div>
          </div>
        </div>
      
        {#=============================== javascripts ================================#}
      </footer>
    </div>
  </div>

    <script src="{{ asset('js/jquery-3.4.1.js','theme_default') }}"></script>
    
    <script src="{{ asset('javascript/popper.min.js','theme_coreui') }}"></script> 
<!--  
    <script src="{{ asset('js/bootstrap/bootstrap.js','theme_default') }}"></script>-->
    <script src="{{ asset('js/moment.js','theme_default') }}"></script>
    <!--   
    <script src="{{ asset('javascript/src/coreui.js','theme_coreui') }}"></script>-->
 
    <script src="{{ asset('javascript/src/coreui.bundle.min.js','theme_coreui') }}"></script>
    <script src="{{ asset('datatables.js','datatable_dir') }}"></script>    
    <script src="{{ asset('dataTables.responsive.min.js','datatable_dir') }}"></script>
    <script src="{{ asset('all.min.js','font_awsome_js') }}"></script>
    <script src="{{ asset('js/lodash.min.js','theme_default') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js','theme_default') }}"></script>
    
    <script src="{{ asset('js/global.js','theme_default') }}"></script>
    <script src="{{ asset('js/render_methods.js','theme_default') }}"></script>
    <script src="{{ asset('js/data_table.js','theme_default') }}"></script>
    <script src="{{ asset('js/chat.js','theme_default') }}"></script>
    <script src="{{ asset('js/base.js','theme_default') }}"></script>

    {% block javascripts %} {% endblock %}
    
    {% block access_pool %}{% endblock %}

    {% block message_pool %}
      <div class="messagePool">
        {% for message in app.flashes('success') %}
        <input type="hidden" name="report-feedback" data-status="200" value="{{ message }}">
        {% endfor %}
        
        {% for message in app.flashes('danger') %}
        <input type="hidden" name="report-feedback" data-status="500" value="{{ message }}">
        {% endfor %}
        
        {% for message in app.flashes('warn') %}
        <input type="hidden" name="report-feedback" data-status="600" value="{{ message }}">
        {% endfor %}
        
        {% for message in app.flashes('info') %}
        <input type="hidden" name="report-feedback" data-status="601" value="{{ message }}">
        {% endfor %}
      </div>
    {% endblock %}

    <input type="hidden" id="base_dir" value="{{ search.root_dir }}" />
    <input type="hidden" id="notSavedFound" value="false" />
</body>

</html>