<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bootstrap.min.css', 'bootstrap_css') }}">
    <link rel="stylesheet" href="{{ asset('all.min.css', 'font_awsome_css') }}">   
    <link rel="stylesheet" href="{{ asset('style/scss/coreui.css', 'theme_coreui') }}">       
    <link rel="stylesheet" href="{{ asset('style/scss/base.css', 'theme_default') }}">

    {% block stylesheets %} {% endblock %}
</head>

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="{{ search.logo }}" width="89" height="25" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="{{ asset('image/brand/sygnet.svg', 'theme_coreui') }}" width="30" height="30" alt="CoreUI Logo">
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
          <a class="nav-link" href="{{ path("home") }}">Tableau de bord</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="{{ path("catalogue_home") }}">Catalogue</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="{{ path("order") }}">Recherche</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
          {% set unread_messages = chat.unread_messages %}
          {% if unread_messages and unread_messages > 0 %}
          <a class="nav-link btnMessageNotif" href="#">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-danger">{{ unread_messages }}</span>
          </a>
          {% endif %}
        </li>
        {# <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#">
            <i class="fa fa-list"></i>
          </a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#">
            <i class="fa fa-map-marker-alt"></i>
          </a>
        </li> #}
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {% if app.user.picture is not null %}
            <img class="img-avatar" src="{{ asset('agent/avatars/' ~ app.user.picture, 'download_dir') }}" alt="Image profile">
            {% else %}
            <img class="img-avatar" src="{{ asset('agent/avatars/default.png', 'download_dir') }}" alt="Image profile">
            {% endif %}
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>Account</strong>
            </div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-envelope"></i> Messages
              <span class="badge badge-success">42</span>
            </a>
            <div class="dropdown-header text-center">
              <strong>Settings</strong>
            </div>
            <a class="dropdown-item" href="{{ path("agent_show", {id: app.user.id}) }}">
              <i class="fa fa-user"></i> Profile</a>
            <!-- <a class="dropdown-item" href="#">
              <i class="fa fa-cog"></i> Settings</a> -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path("security_logout") }}">
              <i class="fa fa-lock"></i> Logout</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ path("home") }}">
                <i class="fa fa-tachometer-alt"></i> Tableau de bord
                <!-- <span class="badge badge-primary">NEW</span> -->
              </a>
            </li>
            <li class="nav-title">Catalogue</li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path("catalogue_home") }}">
                <i class="fa fa-clone"></i> Produits</a>
            </li>
            <!-- <li class="nav-title">Devis</li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("agent_home") }}">
                    <i class="nav-icon icon-drop"></i> Demande de devis</a>
            </li> -->
            <li class="nav-title">Commandes/Avoirs</li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="fa fa-align-justify"></i> Commandes</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="{{ path("order_preorder") }}">
                    <i class="fa fa-calendar"></i> A valider</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path("order_home") }}">
                    <i class="fa fa-clipboard-check"></i> validées</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path("order_customer_valid") }}">
                    <i class="fa fa-calendar-check"></i> Revalidation client</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path("order_bill") }}">
                    <i class="fa fa-cubes"></i> Expédiées</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path("order_closed") }}">
                    <i class="fa fa-closed-captioning"></i> Cloturées</a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="fa fa-align-justify"></i> Avoirs</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("order_prerefund") }}">
                        <i class="fa fa-calendar"></i> A valider</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("order_refund") }}">
                        <i class="fa fa-clipboard-check"></i> validés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("order_bill_refund") }}">
                        <i class="fa fa-cubes"></i> Expédiés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("order_refund_closed") }}">
                        <i class="fa fa-closed-captioning"></i> Cloturés</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("order_quote")}}">
                    <i class="fa fa-align-justify"></i> Devis</a>
            </li>
            <li class="nav-title">Suivi Clientèle</li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("client_home") }}">
                    <i class="fa fa-user"></i> Clients</a>
            </li>
            <li class="nav-title">Administration</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="fa fa-user-secret"></i> Securité</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item nav-dropdown">
                        <!-- <a class="nav-link" href="{{ path("agent_home") }}">
                            <i class="fa fa-user-lock"></i> Commerciaux</a> -->
                            <a class="nav-link nav-dropdown-toggle" href="#">
                              <i class="fa fa-user-lock"></i> Commerciaux</a>
                            <ul class="nav-dropdown-items">
                              <li class="nav-item">
                                <a class="nav-link" href="{{ path("agent_home") }}">
                                  <i class="fa fa-fingerprint"></i> Gérer</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{{ path("security_agent_role") }}">
                                  <i class="fa fa-id-card"></i> Accès</a>
                              </li>
                            </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="fa fa-id-card"></i> Privilege</a>
                            <ul class="nav-dropdown-items">
                              <li class="nav-item">
                                <a class="nav-link" href="{{ path("security_action") }}">
                                  <i class="fa fa-fingerprint"></i> Actions</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{{ path("security_role") }}">
                                  <i class="fa fa-passport"></i> Roles</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{{ path("security_profile") }}">
                                  <i class="fa fa-passport"></i> Profiles</a>
                              </li>
                            </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="fa fa-cog"></i> Configuration</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item nav-dropdown">
                      <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="fa fa-toolbox"></i> Options</a>
                      <ul class="nav-dropdown-items">
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_home") }}">
                            <i class="fa fa-sliders-h"></i> Générale</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_currency") }}">
                            <i class="fa fa-coins"></i> Monnaie</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_tax") }}">
                            <i class="fa fa-money-bill-wave-alt"></i> Taxe</a>
                        </li>
                        {# <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_delivery_status") }}">
                            <i class="fa fa-star"></i> Status facturation</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_order_status") }}">
                            <i class="fa fa-star-half-alt"></i> Statut Commande</a>
                        </li> #}
                        <li class="nav-item nav-dropdown">
                          <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="fa fa-id-card"></i> Statuts</a>
                            <ul class="nav-dropdown-items">
                              <li class="nav-item">
                                <a class="nav-link" href="{{ path("setting_delivery_status") }}">
                                  <i class="fa fa-star"></i> Statut Facturation</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{{ path("setting_order_status") }}">
                                  <i class="fa fa-star-half-alt"></i> Statut Commande</a>
                              </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_email") }}">
                            <i class="fa fa-star-half-alt"></i> Emails</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                      <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="fa fa-clone"></i> Produits</a>
                      <ul class="nav-dropdown-items">
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_catalogue_brand") }}">
                            <i class="fa fa-random"></i> Marques</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_catalogue_group") }}">
                            <i class="fa fa-caret-square-down"></i> Familles</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_catalogue_provider") }}">
                            <i class="fa fa-hourglass-half"></i> Fournisseurs</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_catalogue_import") }}">
                            <i class="fa fa-upload"></i> Imports</a>
                        </li>
                      </ul>
                    </li>
                </ul>
            </li>
            {# <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-bell"></i> Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-signal"></i> Statistiques</a>
            </li> #}
                        
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
      <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ path("home") }}">Home</a>
          </li>
          <!-- <li class="breadcrumb-item active">Dashboard</li> -->
          {% block home_path %} {% endblock %}
          <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              <a class="btn" href="#">
                <i class="icon-speech"></i>
              </a>
              {% block home_path_right %} {% endblock %}
            </div>
          </li>
        </ol>
        <div class="container-fluid">
          
          <ol class="breadcrumb body-header">
            <li class="breadcrumb-item active">
              {% block body_header_left %}{% endblock %}
            </li>
            <li class="breadcrumb-menu d-md-down-none">
              {% block body_header_right %}{% endblock %}
            </li>
          </ol>
            {% block body %}{% endblock %}
            
        </div>
      </main>
      <div class="chat-wrapper">
        <aside class="aside-menu">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">
                <i class="fa fa-list"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#messages" role="tab" style="display: none">
                <i class="fa fa-comments"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#settings" role="tab" style="display: none">
                <i class="fa fa-cog"></i>
              </a>
            </li>
          </ul>
          <!-- Tab panes-->
          <div class="tab-content">
            <div class="tab-pane active" id="timeline" role="tabpanel">
              <div class="list-group list-group-accent">
                <a class="btn btn-info discussion-create" href="{{ path("chat_discussion_register", {name: "test"}) }}"><i class="fa fa-plus-square"></i></a>
                <div
                  class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
                  Discussions</div>
        
                <div class="discussion-home-wrapper">
                  {#{ dump(chat.discussions ) }#}
                  {% for discussion in search.discussions %}
                  {% set agentOwner = chat.discussion_owner(discussion) %}                  
                    <div data-id="{{ discussion.id }}"  data-current="{{ discussion.iscurrent }}" data-owner="{{ discussion.isowner }}" class="list-group-item list-group-item-accent-{% if discussion.iscurrent %}danger{% else %}warning{% endif %} list-group-item-divider dvDiscussion">
                      <div class="avatar float-right">
                        <img class="img-avatar" src="{{ search.avatar_dir(agentOwner) }}" alt="admin@bootstrapmaster.com" data-toggle="tooltip" data-placement="top" title="{{ agentOwner.UserName }}">
                      </div>
                      <a href="{{ path("chat_agent_discusion", {id: discussion.id }) }}" class="link-discussion">
                        <strong class="DiscName">{{ discussion.name }}</strong> {% if discussion.TotalUnRead > 0 %}<span class="badge badge-pill badge-danger">{{ discussion.TotalUnRead }}</span>{% endif %}
                        {% if agentOwner.id == app.user.id %}
                          <a href="#" class="btnDiscSetting">
                            <i class="fa fa-cog"></i>
                          </a>
                        {% endif %}
                      </a>
                      <small class="text-muted mr-3">
                          {% if agentOwner %}
                          <div>Créer par
                            <strong>{{ agentOwner.username }}</strong>
                          </div>
                          {% endif %}
                        <i class="fa fa-calendar"></i> {{ discussion.CreatedAtShort }}</small>
                      <small class="text-muted mr-3">
                        <a href="{{ path("chat_delete_discussion", {id: discussion.id}) }}" class="btnDelete">
                          <i class="fa fa-trash"></i>
                        </a>
                      </small>
                      <div class="avatars-stack mt-2">
                      {% for agent in chat.discussion_users(discussion) %}
                        <div class="avatar avatar-xs">
                          <img class="img-avatar" data-id-agent="{{ agent.id }}" src="{{ search.avatar_dir(agent) }}" alt="{{ agent.UserName }}" data-toggle="tooltip" data-placement="top" title="{{ agent.UserName }}">
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  
        
                  {% endfor %}
                </div>
        
                {# <div class="list-group-item list-group-item-accent-danger list-group-item-divider">
                                        
                      </div> #}
              </div>
            </div>
            <div class="tab-pane" id="messages" role="tabpanel">
              <div data-id-discussion="" class="messages-home-wrapper">
              <div class="lstDiscussion list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">                
              </div>  
              <a href="#" class="loadMessages">
                <div
                  class="list-group-item list-group-item-accent-warning bg-light text-center font-weight-bold text-muted text-uppercase small">
                  Messages plus anciens...
                </div>
              </a>
              <div class="p-3">
                  <div class="message-area-wrapper">
                    {#% for message in chat.current_discussion_messages %}
                    <div class="message">
                      <div class="mr-3 float-left">
                        <div class="avatar">
                          <img class="img-avatar" src="{{ search.avatar_dir(message.agent) }}" alt="{{ message.agent.username }}">
                          <span class="avatar-status badge-primary"></span>
                        </div>
                      </div>
                      <div>
                        <small class="text-muted">{{ message.agent.username }}</small>
                        <small class="text-muted float-right mt-1">{{ message.createdat | date('d/m/Y') }} <br />
                          {{ message.createdat | date('H:m:s') }}</small>
                      </div>
                      <div class="text-truncate font-weight-bold">{{ message.content }}</div>
                      <small class="text-muted">{{ message.content }}</small>
                    </div>
                    <hr>
                    {% endfor %#}
                  </div>
                
                  <div class="char-room">

                    <div class="card border-info">
                      <div class="card-body">
                        <form method="post">
                          <input type="hidden" name="chat_room[discussion]">
                          <textarea class="form-control" name="chat_room[message]" id="" style="width: 100%; height: 100px;"></textarea>
                          <div class="control-wrapper">
                            {# {% set currentDiscussion = user.lastdiscussion %} #}
                            <br/>
                            <button type="submit" class="float-right btn btn-success"><i class="fa fa-paper-plane"></i></button>
                          </div>
                        </form>                        
                      </div>
                    </div>

                    
                  </div>

                </div>
              </div>
        
            </div>
            <div class="tab-pane p-3" id="settings" role="tabpanel">
              <h6>Settings</h6>
              <div class="aside-options">
                <div class="clearfix mt-4">
                  <small>
                    <b>Option 1</b>
                  </small>
                  <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                    <input class="switch-input" type="checkbox" checked="">
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                  </label>
                </div>
                <div>
                  <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</small>
                </div>
              </div>
              <div class="aside-options">
                <div class="clearfix mt-3">
                  <small>
                    <b>Option 2</b>
                  </small>
                  <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                    <input class="switch-input" type="checkbox">
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                  </label>
                </div>
                <div>
                  <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</small>
                </div>
              </div>
              <div class="aside-options">
                <div class="clearfix mt-3">
                  <small>
                    <b>Option 3</b>
                  </small>
                  <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                    <input class="switch-input" type="checkbox">
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                  </label>
                </div>
              </div>
              <div class="aside-options">
                <div class="clearfix mt-3">
                  <small>
                    <b>Option 4</b>
                  </small>
                  <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                    <input class="switch-input" type="checkbox" checked="">
                    <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                  </label>
                </div>
              </div>
              <hr>
              <h6>System Utilization</h6>
              <div class="text-uppercase mb-1 mt-4">
                <small>
                  <b>CPU Usage</b>
                </small>
              </div>
              <div class="progress progress-xs">
                <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
              <small class="text-muted">348 Processes. 1/4 Cores.</small>
              <div class="text-uppercase mb-1 mt-2">
                <small>
                  <b>Memory Usage</b>
                </small>
              </div>
              <div class="progress progress-xs">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
              <small class="text-muted">11444GB/16384MB</small>
              <div class="text-uppercase mb-1 mt-2">
                <small>
                  <b>SSD 1 Usage</b>
                </small>
              </div>
              <div class="progress progress-xs">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
              <small class="text-muted">243GB/256GB</small>
              <div class="text-uppercase mb-1 mt-2">
                <small>
                  <b>SSD 2 Usage</b>
                </small>
              </div>
              <div class="progress progress-xs">
                <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
              <small class="text-muted">25GB/256GB</small>
            </div>
          </div>
        </aside>
      </div>
    </div>
    <footer class="app-footer">
      <div>
        <a href="https://coreui.io">QOBD</a>
        <span>&copy; Management. Version 1.0.1</span>
      </div>
      <div class="ml-auto">
        <span>Created by</span>
        <a href="mailto:joel.dago@yahoo.fr">joel dago</a>
      </div>

      {#=============================== templates ================================#}

      <template id="template-cart_btn">
        <div class="input-group">
          <input type="text" data-id="$(cart_item_id)" name="cart_quantity_js" class="form-control cart-quantity"
            placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon"
            value="$(cart_default_value)">
          <div class="input-group-append">
            <a href="$(cart_route)" data-id="$(cart_item_id)" class="cart_add_js">
              <div class="input-group-text"><i class="fa fa-cart-plus"></i></div>
            </a>
          </div>
        </div>
      </template>

      <template id="template-discussion">        
        <div data-id="$(discussion_id)" data-current="$(is_current)" data-owner="$(is_owner)" class="list-group-item list-group-item-accent-warning list-group-item-divider">
          <div class="avatar float-right">
            <img class="img-avatar" src="$(url_agent_owner_avatar)" alt="admin@bootstrapmaster.com">
          </div>
          <a href="$(url_chat_agent_discusion)" class="link-discussion">
            <strong>$(discussion_name)</strong>
          </a>
          <small class="text-muted mr-3">
            <div class="owner-wrapper"></div>
            <i class="fa fa-calendar"></i> $(created_at)</small>
          <small class="text-muted mr-3">
            <a href="$(url_chat_delete_discussion)" class="btnDelete">
              <i class="fa fa-trash"></i>
            </a>
          </small>
          <div class="avatars-stack mt-2 discussion-recip-wrapper"></div>
        </div>        
      </template>

      <template id="template-discussion-new"> 
        <div class="discussion-new-wrapper">
          <a href="#" class="float-right btnDelete">
            <i class="fa fa-trash"></i>
          </a>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Titre de la discussion</label>
            <input type="text" class="form-control discussion-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Commerciaux</label>
            <div class="ctrlAgents" style="height: 300px; overflow-y: scroll"></div>
          </div>
        </div>
      </template>
      
      <template id="template-discussion-agents">
        <div class="message" style="margin-top: 10px;">
          <div class="mr-3 float-left">
            <div class="input-group">
              <input type="checkbox" data-id-agent="$(agent_id)" class="input-control mr-3 chxAgent">
              <div class="avatar">              
                <img class="img-avatar" src="$(url_agent_avatar)" alt="$(agent_username)" style="max-height: 50px; ">
                <span class="avatar-status badge-$(status)"></span>
              </div>
            </div>
          </div>        
          <div>
            <small class="text-muted">$(agent_username)</small>
            <small class="text-muted float-right mt-1">der. connection <br/>$(last_connected)</small>
          </div>
        </div>
        <hr>
      </template>

      <template id="template-discussion-recipients">
        <div class="avatar avatar-xs">
          <img class="img-avatar" src="$(url_agent_avatar)" alt="$(agent_username)" data-toggle="tooltip" data-placement="top" title="$(agent_username)">
        </div>
      </template>

      <template id="template-message">
        <div class="message">
          <div class="mr-3 float-left">
            <div class="avatar">
              <img class="img-avatar" src="$(url_agent_avatar)" alt="$(agent_username)">
              <span class="avatar-status badge-$(status)"></span>
            </div>
          </div>
          <div>
            <small class="text-muted">$(agent_username)</small>
            <small class="text-muted float-right mt-1">$(created_at)</small>
          </div>
          <div class="text-truncate font-weight-bold">$(message_content)</div>
          <small class="text-muted">$(message_content)</small>
        </div>
        <hr>
      </template>

      {# Modal #}
      <div id="mdlDefault" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered border-primary" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              
            </div>
          </div>
        </div>
      </div>

      {#=============================== javascripts ================================#}

    <script src="{{ asset('jquery-3.4.1.js','qobd_web_js') }}"></script>
    <script src="{{ asset('javascript/popper.min.js','theme_coreui') }}"></script>
    <script src="{{ asset('bootstrap.js','bootstrap_js') }}"></script>
    <script src="{{ asset('javascript/charts.2.8.0.js','theme_coreui') }}"></script>
    <script src="{{ asset('javascript/coreui.min.js','theme_coreui') }}"></script>
    {# <script src="{{ asset('javascript/charts.js','theme_coreui') }}"></script> #}
        
    <script src="{{ asset('datatables.js','datatable_dir') }}"></script>    
    <script src="{{ asset('dataTables.responsive.min.js','datatable_dir') }}"></script>
    <script src="{{ asset('all.min.js','font_awsome_js') }}"></script>
    <script src="{{ asset('lodash.min.js','qobd_web_js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ asset('fos_js_routes.js','qobd_web_js') }}"></script>
    <script src="{{ asset('global.js','qobd_web_js') }}"></script>
    <script src="{{ asset('render_methods.js','qobd_web_js') }}"></script>
    <script src="{{ asset('data_table.js','qobd_web_js') }}"></script>
    <script src="{{ asset('chat.js','qobd_web_js') }}"></script>
    <script src="{{ asset('base.js','qobd_web_js') }}"></script>
    <!-- <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>-->
    
    {% block javascripts %} {% endblock %}

    {% block message_pool %}{% endblock %}

</body>

</html>