<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bootstrap.min.css', 'bootstrap_css') }}">
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    <!-- <link rel="stylesheet" href="{{ asset('datatables.min.css', 'datatable_dir') }}"> -->
    <link rel="stylesheet" href="{{ asset('all.min.css', 'font_awsome_css') }}">
    <link rel="stylesheet" href="{{ asset('style/scss/base.css', 'theme_default') }}">




    {% block stylesheets %} {% endblock %}
</head>

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="{{ asset('image/brand/logo.svg', 'theme_coreui') }}" width="89" height="25" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="{{ asset('image/brand/sygnet.svg', 'theme_coreui') }}" width="30" height="30" alt="CoreUI Logo">
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#">
            <i class="icon-bell"></i>
            <span class="badge badge-pill badge-danger">5</span>
          </a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#">
            <i class="icon-list"></i>
          </a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#">
            <i class="icon-location-pin"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="img-avatar" src="{{ asset('image/avatars/6.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>Account</strong>
            </div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-envelope-o"></i> Messages
              <span class="badge badge-success">42</span>
            </a>
            <div class="dropdown-header text-center">
              <strong>Settings</strong>
            </div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-user"></i> Profile</a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-wrench"></i> Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path("security_logout") }}">
              <i class="fa fa-lock"></i> Logout</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <i class="nav-icon icon-speedometer"></i> Dashboard
                <!-- <span class="badge badge-primary">NEW</span> -->
              </a>
            </li>
            <li class="nav-title">Catalogue</li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path("catalogue_home") }}">
                <i class="nav-icon icon-drop"></i> Produits</a>
            </li>
            <!-- <li class="nav-title">Devis</li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("agent_home") }}">
                    <i class="nav-icon icon-drop"></i> Demande de devis</a>
            </li> -->
            <li class="nav-title">Commandes/Avoirs</li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i> Commandes</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="{{ path("order_preorder") }}">
                    <i class="nav-icon icon-puzzle"></i> A valider</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path("order_home") }}">
                    <i class="nav-icon icon-puzzle"></i> validées</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path("order_customer_valid") }}">
                    <i class="nav-icon icon-puzzle"></i> Revalidation client</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path("order_bill") }}">
                    <i class="nav-icon icon-puzzle"></i> Expédiées</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path("order_closed") }}">
                    <i class="nav-icon icon-puzzle"></i> Cloturées</a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-cursor"></i> Avoirs</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("order_refund") }}">
                        <i class="nav-icon icon-puzzle"></i> validées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("order_bill_refund") }}">
                        <i class="nav-icon icon-puzzle"></i> Expédiées</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("order_refund_closed") }}">
                        <i class="nav-icon icon-puzzle"></i> Cloturées</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("order_quote")}}">
                    <i class="nav-icon icon-puzzle"></i> Devis</a>
            </li>
            <li class="nav-title">Suivi Clientèle</li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("client_home") }}">
                    <i class="nav-icon icon-drop"></i> Clients</a>
            </li>
            <li class="nav-title">Administration</li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-puzzle"></i> Securité</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("agent_home") }}">
                            <i class="nav-icon icon-puzzle"></i> Commerciaux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("security_home") }}">
                            <i class="nav-icon icon-puzzle"></i> Roles</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-cursor"></i> Configuration</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item nav-dropdown">
                      <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon icon-puzzle"></i> Options</a>
                      <ul class="nav-dropdown-items">
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_home") }}">
                            <i class="nav-icon icon-puzzle"></i> Générale</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_currency") }}">
                            <i class="nav-icon icon-puzzle"></i> Monnaie</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_tax") }}">
                            <i class="nav-icon icon-puzzle"></i> Taxe</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_delivery_status") }}">
                            <i class="nav-icon icon-puzzle"></i> Status facturation</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_order_status") }}">
                            <i class="nav-icon icon-puzzle"></i> Statut Commande</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                      <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon icon-puzzle"></i> Produits</a>
                      <ul class="nav-dropdown-items">
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_catalogue_brand") }}">
                            <i class="nav-icon icon-puzzle"></i> Marques</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{ path("setting_catalogue_group") }}">
                            <i class="nav-icon icon-puzzle"></i> Familles</a>
                        </li>
                      </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon icon-puzzle"></i> Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="nav-icon icon-puzzle"></i> Statistiques</a>
            </li>
                        
          </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
      <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{{ path("home") }}">Home</a>
          </li>
          <!-- <li class="breadcrumb-item active">Dashboard</li> -->
          {% block home_path %} {% endblock %}
          <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              <a class="btn" href="#">
                <i class="icon-speech"></i>
              </a>
              {% block home_path_right %} {% endblock %}
            </div>
          </li>
        </ol>
        <div class="container-fluid">
          
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">
              {% block body_header_left %}{% endblock %}
            </li>
            <li class="breadcrumb-menu d-md-down-none">
              {% block body_header_right %}{% endblock %}
            </li>
          </ol>
            {% block body %}{% endblock %}
            
        </div>
      </main>
      <aside class="aside-menu">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">
              <i class="icon-list"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
              <i class="icon-speech"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
              <i class="icon-settings"></i>
            </a>
          </li>
        </ul>
        <!-- Tab panes-->
        <div class="tab-content">
          <div class="tab-pane active" id="timeline" role="tabpanel">
            <div class="list-group list-group-accent">
              <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Today</div>
              <div class="list-group-item list-group-item-accent-warning list-group-item-divider">
                <div class="avatar float-right">
                  <img class="img-avatar" src="{{ asset('image/avatars/7.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                </div>
                <div>Meeting with
                  <strong>Lucas</strong>
                </div>
                <small class="text-muted mr-3">
                  <i class="icon-calendar"></i>  1 - 3pm</small>
                <small class="text-muted">
                  <i class="icon-location-pin"></i>  Palo Alto, CA</small>
              </div>
              <div class="list-group-item list-group-item-accent-info">
                <div class="avatar float-right">
                  <img class="img-avatar" src="{{ asset('image/avatars/4.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                </div>
                <div>Skype with
                  <strong>Megan</strong>
                </div>
                <small class="text-muted mr-3">
                  <i class="icon-calendar"></i>  4 - 5pm</small>
                <small class="text-muted">
                  <i class="icon-social-skype"></i>  On-line</small>
              </div>
              <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Tomorrow</div>
              <div class="list-group-item list-group-item-accent-danger list-group-item-divider">
                <div>New UI Project -
                  <strong>deadline</strong>
                </div>
                <small class="text-muted mr-3">
                  <i class="icon-calendar"></i>  10 - 11pm</small>
                <small class="text-muted">
                  <i class="icon-home"></i>  creativeLabs HQ</small>
                <div class="avatars-stack mt-2">
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/2.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/3.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/4.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/5.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/6.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                </div>
              </div>
              <div class="list-group-item list-group-item-accent-success list-group-item-divider">
                <div>
                  <strong>#10 Startups.Garden</strong> Meetup</div>
                <small class="text-muted mr-3">
                  <i class="icon-calendar"></i>  1 - 3pm</small>
                <small class="text-muted">
                  <i class="icon-location-pin"></i>  Palo Alto, CA</small>
              </div>
              <div class="list-group-item list-group-item-accent-primary list-group-item-divider">
                <div>
                  <strong>Team meeting</strong>
                </div>
                <small class="text-muted mr-3">
                  <i class="icon-calendar"></i>  4 - 6pm</small>
                <small class="text-muted">
                  <i class="icon-home"></i>  creativeLabs HQ</small>
                <div class="avatars-stack mt-2">
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/2.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/3.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/4.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/5.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/6.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/7.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                  <div class="avatar avatar-xs">
                    <img class="img-avatar" src="{{ asset('image/avatars/8.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane p-3" id="messages" role="tabpanel">
            <div class="message">
              <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                  <img class="img-avatar" src="{{ asset('image/avatars/7.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  <span class="avatar-status badge-success"></span>
                </div>
              </div>
              <div>
                <small class="text-muted">Lukasz Holeczek</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
              </div>
              <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
              <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
              <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                  <img class="img-avatar" src="{{ asset('image/avatars/7.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  <span class="avatar-status badge-success"></span>
                </div>
              </div>
              <div>
                <small class="text-muted">Lukasz Holeczek</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
              </div>
              <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
              <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
              <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                  <img class="img-avatar" src="{{ asset('image/avatars/7.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  <span class="avatar-status badge-success"></span>
                </div>
              </div>
              <div>
                <small class="text-muted">Lukasz Holeczek</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
              </div>
              <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
              <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
              <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                  <img class="img-avatar" src="{{ asset('image/avatars/7.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  <span class="avatar-status badge-success"></span>
                </div>
              </div>
              <div>
                <small class="text-muted">Lukasz Holeczek</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
              </div>
              <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
              <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
            <hr>
            <div class="message">
              <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                  <img class="img-avatar" src="{{ asset('image/avatars/7.jpg', 'theme_coreui') }}" alt="admin@bootstrapmaster.com">
                  <span class="avatar-status badge-success"></span>
                </div>
              </div>
              <div>
                <small class="text-muted">Lukasz Holeczek</small>
                <small class="text-muted float-right mt-1">1:52 PM</small>
              </div>
              <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
              <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
            </div>
          </div>
          <div class="tab-pane p-3" id="settings" role="tabpanel">
            <h6>Settings</h6>
            <div class="aside-options">
              <div class="clearfix mt-4">
                <small>
                  <b>Option 1</b>
                </small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input class="switch-input" type="checkbox" checked="">
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
              <div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
              </div>
            </div>
            <div class="aside-options">
              <div class="clearfix mt-3">
                <small>
                  <b>Option 2</b>
                </small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input class="switch-input" type="checkbox">
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
              <div>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
              </div>
            </div>
            <div class="aside-options">
              <div class="clearfix mt-3">
                <small>
                  <b>Option 3</b>
                </small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input class="switch-input" type="checkbox">
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
            </div>
            <div class="aside-options">
              <div class="clearfix mt-3">
                <small>
                  <b>Option 4</b>
                </small>
                <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                  <input class="switch-input" type="checkbox" checked="">
                  <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                </label>
              </div>
            </div>
            <hr>
            <h6>System Utilization</h6>
            <div class="text-uppercase mb-1 mt-4">
              <small>
                <b>CPU Usage</b>
              </small>
            </div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">348 Processes. 1/4 Cores.</small>
            <div class="text-uppercase mb-1 mt-2">
              <small>
                <b>Memory Usage</b>
              </small>
            </div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">11444GB/16384MB</small>
            <div class="text-uppercase mb-1 mt-2">
              <small>
                <b>SSD 1 Usage</b>
              </small>
            </div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">243GB/256GB</small>
            <div class="text-uppercase mb-1 mt-2">
              <small>
                <b>SSD 2 Usage</b>
              </small>
            </div>
            <div class="progress progress-xs">
              <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <small class="text-muted">25GB/256GB</small>
          </div>
        </div>
      </aside>
    </div>
    <footer class="app-footer">
      <div>
        <a href="https://coreui.io">QOBD</a>
        <span>&copy; Management. Version 1.0.1</span>
      </div>
      <div class="ml-auto">
        <span>Created by</span>
        <a href="mailto:joel.dago@yahoo.fr">joel dago</a>
      </div>

      <template id="cart_btn">
        <div class="input-group">
          <input type="text" data-id="$(cart_item_id)" name="cart_quantity_js" class="form-control cart-quantity"
            placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon"
            value="$(cart_default_value)">
          <div class="input-group-append">
            <a href="$(cart_route)" data-id="$(cart_item_id)" class="cart_add_js">
              <div class="input-group-text"><i class="fa fa-cart-plus"></i></div>
            </a>
          </div>
        </div>
      </template>

    </footer>
    <!-- CoreUI and necessary plugins
    <script src="{{ asset('javascript/popovers.js','theme_coreui') }}"></script>-->
    <!--<script src="{{ asset('bootstrap.js','bootstrap_js') }}"></script>
      <script src="{{ asset('javascript/pace.js','theme_coreui') }}"></script> 
        <script src="node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>-->
    <!-- Plugins and scripts required by this view-->
        <script src="{{ asset('jquery-3.4.1.js','qobd_web_js') }}"></script>
    <!--<script src="{{ asset('javascript/Charts.js','theme_coreui') }}"></script>
     <script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script> 
    <script src="{{ asset('javascript/main.js','theme_coreui') }}"></script>-->
  
    

    
    <!--<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        
    crossorigin="anonymous"></script><!---->
    <script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.min.js"></script>
   <!--  -->
   
    
    <script src="{{ asset('datatables.min.js','datatable_dir') }}"></script>
    <script src="{{ asset('dataTables.responsive.min.js','datatable_dir') }}"></script>
    <script src="{{ asset('all.min.js','font_awsome_js') }}"></script>
    <script src="{{ asset('lodash.min.js','qobd_web_js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ asset('fos_js_routes.js','qobd_web_js') }}"></script>
    <script src="{{ asset('render_methods.js','qobd_web_js') }}"></script>
    <script src="{{ asset('data_table.js','qobd_web_js') }}"></script>
    <!-- <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>-->
    
    {% block javascripts %} {% endblock %}

</body>

</html>