{% extends 'template_coreui.html.twig' %}

{% block title %} {{ page_title }} {% endblock %}

{% block home_path %}
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block body_header_right %}
<button form="global_search_form" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
{% endblock %}

{% block body %}

<div class="commande-wrapper">

    <input type="hidden" id="order_target" value="{{ target }}">
    {# <input type="hidden" id="order_data_source" value="{{ source }}"> #}
   
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Recherche</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="global_search_form" method="POST" action="{{ path("order_search") }}">

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="N° de commande/avoir/devis">
                                        <span class="fa fa-folder"></span>
                                    </span>
                                </div>
                                <input type="number" name="search[order]" class="form-control" placeholder="N° de commande/avoir/devis" />
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="N° de Facture">
                                        <span class="fa fa-money-bill"></span>
                                    </span>
                                </div>
                                <input type="number" name="search[bill]" class="form-control" placeholder="N° de Facture" />
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Veuillez sélectionner une société">
                                        <span class="fa fa-chess-board"></span>
                                    </span>
                                </div>
                                <select name="search[client]" class="form-control">
                                    <option value="">Veuillez sélectionner une société</option>
                                    {% for client in clients %}
                                    <option value="{{ client.id }}">{% if client.Denomination %} {{ client.CompanyName ~ ' : ' ~ client.Denomination }} {% else %} {{ client.CompanyName }} {% endif %}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {% if  search.get_right_admin() %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Commercial en charge">
                                        <span class="fa fa-copyright"></span>
                                    </span>
                                </div>
                                <select name="search[agent]" class="form-control">
                                    <option value="">Veuillez sélectionner un commercial</option>
                                    {% for agent in agents %}
                                    <option value="{{ agent.id }}">{{ agent.firstname ~ ' ' ~ agent.lastname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Date de début">
                                        <span class="fa fa-calendar-alt"></span>
                                    </span>
                                </div>
                                <input type="date" name="search[dtDebut]" class="form-control" placeholder="Date de début" />
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Date de fin">
                                        <span class="fa fa-calendar-alt"></span>
                                    </span>
                                </div>
                                <input type="date" name="search[dtFin]" class="form-control" placeholder="Date de fin" />
                            </div>


                            <buton type="submit" value="Recherche" class="float-center" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Résultat de votre recherche</div>
                    <div class="card-body tbResult">
                        <table id="order_table_js"
                            class="table table-responsive-md table-bordered table-striped table-md">
                        </table>
                        <div class="no-result">
                            <tr>
                                <td>Aucune donnée trouvée</td>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>
    </div>
</div>

{% endblock %}

{% block access_pool %}
<div class="access_pool">
    <input type="hidden" id="is_read" value="{{ search.get_right_read("ACTION_ORDER") }}" />
    <input type="hidden" id="is_write" value="{{ search.get_right_write("ACTION_ORDER") }}" />
    <input type="hidden" id="is_update" value="{{ search.get_right_update("ACTION_ORDER") }}" />
    <input type="hidden" id="is_delete" value="{{ search.get_right_delete("ACTION_ORDER") }}" />
    <input type="hidden" id="is_mail" value="{{ search.get_right_email("ACTION_ORDER") }}" />
    <input type="hidden" id="is_admin" value="{{ search.get_right_admin() }}" />
</div>
{% endblock %}


{% block javascripts %}
<script src="{{  asset('order.js','qobd_web_js') }}"></script>
{% endblock %}