{% extends 'template_coreui.html.twig' %}

{% block title %} Catalogue {% endblock %}

{% block stylesheets %}
<!-- <link rel="stylesheet" href="{{ asset('catalogue.css', 'qobd_web_css') }}"> -->
{% endblock %}

{% block body %}

<div class="catalogue-wrapper">

    <a href="{{ path('cart_home') }}" class="btn btn-success">Cart({{ cart_total }})</a>
    <table id="item_table_js" class="table">
    </table>

</div>
<input type="hidden" id="item_data_source" value="{{ item_data_source }}">

{% endblock %}
{% block javascripts %}
<script src="{{  asset('catalogue.js','qobd_web_js') }}"></script>
{% endblock %}