{% extends 'template_coreui.html.twig' %}

{% set page_title = 'Nouveau produit' %}

{% block home_path %}
<li class="breadcrumb-item">
    <a href="{{ path("catalogue_home") }}">Produit</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ page_title }} {% endblock %}

{% block body_header_right %}
    <button form="global_form" type="submit" class="btn btn-"><i class="fa fa-save"></i></button>
{% endblock %}

{% block body %}

<div class="item-wrapper">

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> {{ page_title }}</div>
                    <div class="card-body">

                        {{ form_start(formItem, { 'attr': {'id': 'global_form' }}) }}


                        {{form_row(formItem.Picture,{'label': 'Picture', 'attr': {'placeholder': ''}}) }}
                        {{ form_row(formItem.Name,{'label': 'désignation du produit', 'attr': {'placeholder': 'désignation du produit'}}) }}
                        {{ form_row(formItem.Ref,{'label': 'Rérérence', 'attr': {'placeholder': 'Référence'}}) }}
                        {{ form_row(formItem.ItemBrand,{'label': 'Marque', 'attr': {'placeholder': 'Marque'}}) }}
                        {{ form_row(formItem.ItemGroupe,{'label': 'Famille', 'attr': {'placeholder': 'Famille'}}) }}
                        {{ form_row(formItem.Provider,{'label': 'Fournisseur', 'attr': {'placeholder': 'Fournisseur'}}) }}
                        {{ form_row(formItem.PurchasePrice,{'label': 'Prix dachat', 'attr': {'placeholder': 'Prix dchat'}}) }}
                        {{ form_row(formItem.SellPrice,{'label': 'Prix de vente conseillé', 'attr': {'placeholder': 'Prix de vente conseillé'}}) }}
                        {{ form_row(formItem.Stock,{'label': 'Stock', 'attr': {'placeholder': 'Stock'}}) }}
                        {{ form_row(formItem.ContentComment,{'label': 'Commentaire', 'attr': {'placeholder': 'Commentaire'}}) }}

                        {{ form_end(formItem) }}
                    </div> 
                </div> 
            </div> 
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<!-- <script src="{#{  asset('client.js','qobd_web_js') }#}"></script> -->
{% endblock %}