{% extends 'template_coreui.html.twig' %}

{% set page_title = 'Nouveau produit' %}

{% block home_path %}
<li class="breadcrumb-item">
    <a href="{{ path("catalogue_home") }}">Produit</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ parent() }} - {{ page_title }} {% endblock %}

{% block body_header_right %}
    <button form="global_form" type="submit" class="btn btn-primary"><i class="fa fa-save"></i></button>
{% endblock %}

{% block body %}

<div class="item-wrapper">

    <div class="animated fadeIn">
        {% include "notify.html.twig" %}
        
        {{ form_start(formItem, {'enctype':'multipart/form-data', 'attr': {'id': 'global_form' }}) }}
        
        {# Produit #}
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Produit
            </div>
        
            <div class="card-body">
                <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
        
                
                {{ form_row(formItem.PictureFile,{'label': 'Image produit', 'attr': {'class':'form-control'}}) }}
                {{ form_row(formItem.Name,{'label': 'Nom du produit','attr': {'placeholder': 'désignation du produit'}}) }}
                {{ form_row(formItem.Ref,{'label': 'Reférence du produit','attr': {'placeholder': 'Réfference du produit'}}) }}
                {{ form_row(formItem.SerieCode,{'label': 'N° de serie du produit','attr': {'placeholder': 'N° de serie du produit'}}) }}
                {{ form_row(formItem.PurchasePrice,{'label': 'Prix dchat', 'attr': {'placeholder': 'Prix dchat'}}) }}
                {{ form_row(formItem.SellPrice,{'label': 'Prix de vente conseillé', 'attr': {'placeholder': 'Prix de vente conseillé'}}) }}
                {{ form_row(formItem.Stock,{'label': 'Stock', 'attr': {'placeholder': 'Stock'}}) }}
                
                {{ form_row(formItem.ContentComment,{'label': 'Commentaire', 'attr': {'placeholder': 'Commentaire'}})}}
                
            </div>
        </div>
        
        {# Fournisseur #}
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Fournisseur
            </div>            
            <div class="card-body">
                {{ form_row(formItem.ItemBrand,{'label': 'Marque', 'attr': {'placeholder': 'Marque'}}) }}
                {{ form_row(formItem.ItemGroupe,{'label': 'Famille', 'attr': {'placeholder': 'Famille'}}) }}
                {{ form_row(formItem.Provider,{'label': 'Fournisseur', 'attr': {'placeholder': 'Fournisseur'}}) }}
                {{ form_row(formItem.Ean,{'label': 'Code EAN', 'attr': {'placeholder': 'Code EAN'}})}}
                {{ form_row(formItem.Imei,{'label': 'Code IMEI', 'attr': {'placeholder': 'Code IMEI'}})}}
                        
            </div>
        </div>
        
        {{ form_end(formItem) }}
    </div>
</div>

{% endblock %}
{% block javascripts %}
<!-- <script src="{#{  asset('client.js','qobd_web_js') }#}"></script> -->
{% endblock %}