{% extends 'template_coreui.html.twig' %}

{% set page_title = 'Nouveau produit' %}

{% block home_path %}
<li class="breadcrumb-item">
    <a href="{{ path("catalogue_home") }}">Produit</a>
</li>
<li class="breadcrumb-item">
    {{ page_title }}
</li>
{% endblock %}

{% block title %}{{ page_title }} {% endblock %}

{% block body_header_right %}
    <button form="global_form" type="submit" class="btn btn-"><i class="fa fa-save"></i></button>
{% endblock %}

{% block body %}

<div class="item-wrapper">

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> {{ page_title }}</div>

                        <div class="card-body">
                        
                            {{ form_start(formItem, {'enctype':'multipart/form-data', 'attr': {'id': 'global_form' }}) }}
                        
                            <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
                        
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Nom du produit">
                                        <span class="fa fa-chess-board"></span>
                                    </span>
                                </div>
                                {{ form_widget(formItem.Name,{'label': 'désignation du produit', 'attr': {'placeholder': 'désignation du produit'}}) }}
                            </div>
                        
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Référence">
                                        <i class="fa fa-chess-board"></i>
                                    </span>
                                </div>
                                {{ form_widget(formItem.Ref,{'label': 'Rérérence', 'attr': {'placeholder': 'Référence'}}) }}
                            </div>
                        
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Marque">
                                        <i class="fa fa-copyright"></i>
                                    </span>
                                </div>
                                {{ form_widget(formItem.ItemBrand,{'label': 'Marque', 'attr': {'placeholder': 'Marque'}}) }}
                            </div>
                        
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Famille">
                                        <i class="fa fa-layer-group"></i>
                                    </span>
                                </div>
                                {{ form_widget(formItem.ItemGroupe,{'label': 'Famille', 'attr': {'placeholder': 'Famille'}}) }}
                            </div>
                        
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Fournisseur">
                                        <i class="fa fa-truck"></i>
                                    </span>
                                </div>
                                {{ form_widget(formItem.Provider,{'label': 'Fournisseur', 'attr': {'placeholder': 'Fournisseur'}}) }}
                            </div>
                        
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top"
                                        title="Prix d'achat">
                                        <i class="fa fa-hand-holding-usd"></i>
                                    </span>
                                </div>
                                {{ form_widget(formItem.PurchasePrice,{'label': 'Prix dachat', 'attr': {'placeholder': 'Prix dchat'}}) }}
                            </div>
                        
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Prix de vente">
                                        <i class="fa fa-hand-holding-usd"></i>
                                    </span>
                                </div>
                                {{ form_widget(formItem.SellPrice,{'label': 'Prix de vente conseillé', 'attr': {'placeholder': 'Prix de vente conseillé'}}) }}
                            </div>
                        
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="Stock">
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                </div>
                                {{ form_widget(formItem.Stock,{'label': 'Stock', 'attr': {'placeholder': 'Stock'}}) }}
                            </div>
                        
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" data-toggle="tooltip" data-placement="top"
                                        title="Commentaire">
                                        <i class="fa fa-list"></i>
                                    </span>
                                </div>
                                {{ form_widget(formItem.ContentComment,{'label': 'Commentaire', 'attr': {'placeholder': 'Commentaire'}})}}
                            </div>
                        
                            <div class="form-group">
                                {{ form_widget(formItem.PictureFile,{'attr': {'class':'form-control'}}) }}
                            </div>
                        
                            {{ form_end(formItem) }}
                        </div>

                </div> 
            </div> 
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<!-- <script src="{#{  asset('client.js','qobd_web_js') }#}"></script> -->
{% endblock %}